In [1]:
DATA_DIR = "/Users/samin/workspace/scWGS-Tumor-Phylogeny/data/chisel/patientS0"

In [2]:
import pandas as pd
import numpy as np

In [4]:
df_clones = pd.read_csv("/Users/samin/workspace/scWGS-Tumor-Phylogeny/data/chisel/patientS0/clones/all/mapping.tsv.gz", sep="\t")
df_clones

                    #CELL  CLUSTER      CLONE
0      A-AAACCTGAGATCTGCT      401   Clone401
1      A-AAACCTGGTACCGCTG     2535  Clone2535
2      A-AAACCTGGTGCTGTAT     2535  Clone2535
3      A-AAACCTGTCCGCGGAT     2668        NaN
4      A-AAACGGGCATGTATGC     2535  Clone2535
...                   ...      ...        ...
10197  E-TTTGTCAAGTAGATGT      973   Clone973
10198  E-TTTGTCACAATTCACG     1321        NaN
10199  E-TTTGTCATCGAAATCC     2535  Clone2535
10200  E-TTTGTCATCGAACAAA      953   Clone953
10201  E-TTTGTCATCGTAACCA     2535  Clone2535

[10202 rows x 3 columns]

In [6]:
df_calls = pd.read_csv("/Users/samin/workspace/scWGS-Tumor-Phylogeny/data/chisel/patientS0/calls/all/calls.part1.tsv.gz", sep="\t")
df_calls

,#CHR,START,END,CELL,NORM_COUNT,COUNT,RDR,A_COUNT,B_COUNT,BAF,CLUSTER,CN_STATE
0,chr1,0,5000000,A-AAACCTGAGATCTGCT,2654972,1380,0.787923,25,46,0.647887,0,1|2
1,chr1,0,5000000,A-AAACCTGGTACCGCTG,2654972,545,1.046940,23,21,0.477273,0,1|1
2,chr1,0,5000000,A-AAACCTGGTGCTGTAT,2654972,881,1.210947,21,31,0.596154,0,1|1
3,chr1,0,5000000,A-AAACCTGTCCGCGGAT,2654972,1372,2.324741,34,54,0.613636,0,2|3
4,chr1,0,5000000,A-AAACGGGCATGTATGC,2654972,1019,1.166981,42,24,0.363636,0,1|1
...,...,...,...,...,...,...,...,...,...,...,...,...
2999994,chr8,70000000,75000000,A-CAGCTGGCATTTAGGC,3288642,1489,1.125764,45,47,0.510870,18,2|2
2999995,chr8,70000000,75000000,A-CAGCTGGGTGTAAAGT,3288642,867,0.943443,33,32,0.492308,18,1|1
2999996,chr8,70000000,75000000,A-CAGCTGGTCCTACGAA,3288642,1031,1.169941,31,31,0.500000,18,1|1
2999997,chr8,70000000,75000000,A-CAGGTGCAGAAGGGTA,3288642,1120,1.082494,37,31,0.455882,18,1|1
2999998,chr8,70000000,75000000,A-CAGGTGCAGACCTTTG,3288642,653,0.946822,23,13,0.361111,18,1|1

In [9]:
df_cell_mutations = pd.read_csv("/Users/samin/workspace/scWGS-Tumor-Phylogeny/data/chisel/patientS0/snvs/cellmutations.tsv.gz", sep="\t")
df_cell_mutations

,#CHR,START,END,REF,ALT,HARBORING_CELLS
0,chr1,10071,10071,C,G,"A-AACGTTGCAGGTCAAG,A-GACGGCTGTGGCAAAC,A-GCTGCT..."
1,chr1,10185,10185,C,T,"B-TGACTAGGTAACGTGG,C-GCCTCTATCGTGAGGA,E-CTGCCT..."
2,chr1,10219,10219,C,A,"A-AAAGATGTCTCATCTA,A-ACATACGAGAGTAATC,A-CTACGT..."
3,chr1,10347,10347,A,C,"B-ATCGAGTGTTCGATTG,C-AGTAGTCCATGCAGTT,D-TTTGCG..."
4,chr1,109116,109116,G,T,"C-AACTCAGCAGGGAAGG,C-TACTTACCAACGCGCT,E-AACTCA..."
...,...,...,...,...,...,...
49295,chr22,50594999,50594999,G,A,"B-GGGCACTGTAACAATG,E-CTCTGGTGTCTCGAGC,E-GCATGA..."
49296,chr22,50643967,50643967,G,C,"C-TCGGGACGTAGCGTCC,E-GATCGCGAGTCTAGCT,E-TACCTA..."
49297,chr22,50656001,50656001,G,T,"E-TAGCCGGTCAATAGGA,E-TGAGCCGGTTCAGTGT"
49298,chr22,50700755,50700755,T,G,"A-ACATCAGAGACAAGCC,D-ACATGGTAGTCTAGCT,D-ATCACG..."
49299,chr22,50807980,50807980,G,T,"A-CACACTCAGGCTACGA,A-CAGAGAGAGTGGTAGC,A-GTAACG..."

In [10]:
df_vaf_analysis = pd.read_csv("/Users/samin/workspace/scWGS-Tumor-Phylogeny/data/chisel/patientS0/snvs/vafanalysis.tsv.gz", sep="\t")
df_vaf_analysis

,#CHR,POS,TOT,VAR,VAF,TUMOR_VAF,CLASS,LEFT_VAF,RIGHT_VAF
0,chr1,10071,1274,11,0.008634,0.008902,tumor+diploid,0.006689,0.010667
1,chr1,10185,505,3,0.005941,0.003610,tumor+diploid,0.008850,0.000000
2,chr1,10219,396,22,0.055556,0.059574,tumor+diploid,0.046729,0.070312
3,chr1,10347,324,4,0.012346,0.011628,tumor+diploid,0.000000,0.022472
4,chr1,109116,476,5,0.010504,0.014493,tumor+diploid,0.007407,0.021277
...,...,...,...,...,...,...,...,...,...
49295,chr22,50594999,208,3,0.014423,0.023810,conflict,0.033333,0.015152
49296,chr22,50643967,343,3,0.008746,0.014286,clonal,0.011364,0.016393
49297,chr22,50656001,209,2,0.009569,0.008333,tumor+diploid,0.000000,0.016949
49298,chr22,50700755,261,8,0.030651,0.036585,tumor+diploid,0.025316,0.047059
49299,chr22,50807980,1011,28,0.027695,0.031250,tumor+diploid,0.026923,0.035714