In [1]:
DATA_DIR = "../scratch/data"

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [26]:
df = pd.read_csv(f"{DATA_DIR}/ov2295_clone_cn.csv.gz")
df

      clone_id chr     start       end      copy  total_cn  minor_cn  major_cn
0            E   1         1    500000       NaN         4         0         4
1            E   1    500001   1000000       NaN         4         0         4
2            E   1   1000001   1500000  4.906717         4         0         4
3            E   1   1500001   2000000  3.793922         4         0         4
4            E   1   2000001   2500000  5.130191         4         0         4
...        ...  ..       ...       ...       ...       ...       ...       ...
55849        F   Y  57000001  57500000       NaN         0         0         0
55850        F   Y  57500001  58000000       NaN         0         0         0
55851        F   Y  58000001  58500000       NaN         0         0         0
55852        F   Y  58500001  59000000       NaN         0         0         0
55853        F   Y  59000001  59500000       NaN         0         0         0

[55854 rows x 8 columns]

In [27]:
df_A = df[df["clone_id"].isin(["A"])]
df_B = df[df["clone_id"].isin(["B"])]
df_ = pd.merge(df_A, df_B, on=["chr", "start", "end"], suffixes=("_A", "_B"), how="inner")
df_

,clone_id_A,chr,start,end,copy_A,total_cn_A,minor_cn_A,major_cn_A,clone_id_B,copy_B,total_cn_B,minor_cn_B,major_cn_B
0,A,1,1,500000,NaN,2,0,2,B,NaN,2,0,2
1,A,1,500001,1000000,NaN,2,0,2,B,NaN,2,0,2
2,A,1,1000001,1500000,2.695808,2,0,2,B,2.791536,2,0,2
3,A,1,1500001,2000000,2.202514,2,0,2,B,2.297071,2,0,2
4,A,1,2000001,2500000,2.752558,2,0,2,B,2.917039,2,0,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...
6201,A,Y,57000001,57500000,NaN,0,0,0,B,NaN,0,0,0
6202,A,Y,57500001,58000000,NaN,0,0,0,B,NaN,0,0,0
6203,A,Y,58000001,58500000,NaN,0,0,0,B,NaN,0,0,0
6204,A,Y,58500001,59000000,NaN,0,0,0,B,NaN,0,0,0
6205,A,Y,59000001,59500000,NaN,0,0,0,B,NaN,0,0,0

In [32]:
df_["total_cn_B"].value_counts()

total_cn_B
2    3745
1    1803
3     539
0     119
Name: count, dtype: int64

In [33]:
df_["total_cn_A"].value_counts()

total_cn_A
2    3651
1    1757
3     668
0     119
4      11
Name: count, dtype: int64

In [31]:
df_[(df_["total_cn_A"] != df_["total_cn_B"]) & (df_["total_cn_B"] == 0)]

Empty DataFrame
Columns: [clone_id_A, chr, start, end, copy_A, total_cn_A, minor_cn_A, major_cn_A, clone_id_B, copy_B, total_cn_B, minor_cn_B, major_cn_B]
Index: []

In [25]:
for cluster_at_top in ("B", "A"):
    cluster_at_bottom = "A" if cluster_at_top == "B" else "B"
    print(f"Evidence for {cluster_at_top} -/-> {cluster_at_bottom}: number of locations where total_cn for cluster {cluster_at_top}=0 and cluster {cluster_at_bottom} > 0:", len(df_[(df_[f"total_cn_{cluster_at_top}"] == 0) & (df_[f"total_cn_{cluster_at_bottom}"] > 0)]))

Evidence for B -/-> A: number of locations where total_cn for cluster B=0 and cluster A > 0: 0
Evidence for A -/-> B: number of locations where total_cn for cluster A=0 and cluster B > 0: 0

In [21]:
for cluster_at_top in ("B", "A"):
    for allele in (1, 2):
        cluster_at_bottom = "A" if cluster_at_top == "B" else "B"
        print(f"Evidence for {cluster_at_top} -/-> {cluster_at_bottom}: number of locations where allele_{allele}_sum for cluster {cluster_at_top}=0 and cluster {cluster_at_bottom} > 0:", len(df_[(df_[f"allele_{allele}_sum_{cluster_at_top}"] == 0) & (df_[f"allele_{allele}_sum_{cluster_at_bottom}"] > 0)]))

Evidence for B -/-> A: number of locations where allele_1_sum for cluster B=0 and cluster A > 0: 1358
Evidence for B -/-> A: number of locations where allele_2_sum for cluster B=0 and cluster A > 0: 1362
Evidence for A -/-> B: number of locations where allele_1_sum for cluster A=0 and cluster B > 0: 1892
Evidence for A -/-> B: number of locations where allele_2_sum for cluster A=0 and cluster B > 0: 1959