In [1]:
DATA_DIR = "../scratch/data"

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [4]:
df = pd.read_csv(f"{DATA_DIR}/ov2295_clone_alleles.csv.gz")
df

/var/folders/nz/jn74t1g51q10qyclfkkr8cgm0000gq/T/ipykernel_92507/48119765.py:1: DtypeWarning: Columns (0) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(f"{DATA_DIR}/ov2295_clone_alleles.csv.gz")

,chr,start,end,hap_label,clone_id,allele_1_sum,allele_2_sum,total_counts_sum
0,10,1,500000,0,E,21,1,22
1,10,1,500000,1,E,18,15,33
2,10,1,500000,2,E,577,516,1093
3,10,1,500000,3,E,10,30,40
4,10,1,500000,4,E,418,140,558
...,...,...,...,...,...,...,...,...
983674,12,133500001,134000000,4989,B,1,0,1
983675,12,133500001,134000000,4990,B,9,0,9
983676,12,133500001,134000000,4992,B,0,11,11
983677,12,133500001,134000000,4993,B,9,0,9
983678,12,133500001,134000000,4994,B,2,4,6

In [7]:
df_A

,chr,start,end,hap_label,clone_id,allele_1_sum,allele_2_sum,total_counts_sum
438276,10,1,500000,0,A,2,0,2
438277,10,1,500000,1,A,15,0,15
438278,10,1,500000,2,A,326,13,339
438279,10,1,500000,3,A,1,20,21
438280,10,1,500000,4,A,309,6,315
...,...,...,...,...,...,...,...,...
546757,12,133500001,134000000,4990,A,9,0,9
546758,12,133500001,134000000,4991,A,0,2,2
546759,12,133500001,134000000,4992,A,0,13,13
546760,12,133500001,134000000,4993,A,11,0,11
546761,12,133500001,134000000,4994,A,7,8,15

In [10]:
df_A = df[df["clone_id"].isin(["A"])]
df_B = df[df["clone_id"].isin(["B"])]
df_ = pd.merge(df_A, df_B, on=["chr", "start", "end", "hap_label"], suffixes=("_A", "_B"), how="inner")
df_

,chr,start,end,hap_label,clone_id_A,allele_1_sum_A,allele_2_sum_A,total_counts_sum_A,clone_id_B,allele_1_sum_B,allele_2_sum_B,total_counts_sum_B
0,10,1,500000,1,A,15,0,15,B,8,13,21
1,10,1,500000,2,A,326,13,339,B,252,349,601
2,10,1,500000,3,A,1,20,21,B,9,22,31
3,10,1,500000,4,A,309,6,315,B,228,120,348
4,10,1,500000,5,A,15,1,16,B,18,3,21
...,...,...,...,...,...,...,...,...,...,...,...,...
41285,12,121500001,122000000,4277,A,8,17,25,B,7,4,11
41286,12,121500001,122000000,4278,A,169,91,260,B,130,74,204
41287,12,121500001,122000000,4280,A,93,54,147,B,54,33,87
41288,12,122000001,122500000,4280,A,62,13,75,B,36,26,62
41289,12,122000001,122500000,4281,A,22,16,38,B,24,7,31

In [21]:
for cluster_at_top in ("B", "A"):
    for allele in (1, 2):
        cluster_at_bottom = "A" if cluster_at_top == "B" else "B"
        print(f"Evidence for {cluster_at_top} -/-> {cluster_at_bottom}: number of locations where allele_{allele}_sum for cluster {cluster_at_top}=0 and cluster {cluster_at_bottom} > 0:", len(df_[(df_[f"allele_{allele}_sum_{cluster_at_top}"] == 0) & (df_[f"allele_{allele}_sum_{cluster_at_bottom}"] > 0)]))

Evidence for B -/-> A: number of locations where allele_1_sum for cluster B=0 and cluster A > 0: 1358
Evidence for B -/-> A: number of locations where allele_2_sum for cluster B=0 and cluster A > 0: 1362
Evidence for A -/-> B: number of locations where allele_1_sum for cluster A=0 and cluster B > 0: 1892
Evidence for A -/-> B: number of locations where allele_2_sum for cluster A=0 and cluster B > 0: 1959