In [1]:
import pandas as pd
import numpy as np

In [2]:
snv_annotations = pd.read_csv("../data/williams/signatures_dataset/DLPextra/SNV/snv_annotations.csv.gz")

/var/folders/nz/jn74t1g51q10qyclfkkr8cgm0000gq/T/ipykernel_76633/3023799263.py:1: DtypeWarning: Columns (0,15,16,17) have mixed types. Specify dtype option on import or set low_memory=False.
  snv_annotations = pd.read_csv("../data/williams/signatures_dataset/DLPextra/SNV/snv_annotations.csv.gz")

In [4]:
ov2295_annotations = snv_annotations[snv_annotations['patient'] == 'OV2295']
ov2295_annotations

,chr,pos,ref,alt,max_strelka_score,max_museq_score,mappability,is_cosmic,gene_name,effect,effect_impact,amino_acid_change,is_dbsnp,tri_nucleotide_context,patient,isabl_patient_id,isabl_sample_id,isabl_aliquot_id
859961,1,1142720,G,C,58,0.90,1.0,0,TNFRSF18,UPSTREAM,MODIFIER,NaN,0,GGA,OV2295,NaN,NaN,NaN
859962,1,1147615,A,G,24,0.92,1.0,0,TNFRSF4,NEXT_PROT[glycosylation-site:N-linked__GlcNAc....,MODERATE,NaN,0,CAG,OV2295,NaN,NaN,NaN
859963,1,1355571,T,C,52,0.90,1.0,0,ANKRD65,NON_SYNONYMOUS_CODING,MODERATE,D204G,0,GTC,OV2295,NaN,NaN,NaN
859964,1,1472034,G,C,97,0.92,1.0,0,ATAD3A,DOWNSTREAM,MODIFIER,NaN,0,AGC,OV2295,NaN,NaN,NaN
859965,1,1951177,T,C,44,0.93,1.0,0,NaN,MOTIF[MA0138.2:Nrsf],MODIFIER,NaN,0,GTC,OV2295,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
894603,X,153762606,G,A,27,0.97,1.0,0,G6PD,SYNONYMOUS_CODING,LOW,Y197,0,GGT,OV2295,NaN,NaN,NaN
894604,X,154012317,G,A,151,0.93,1.0,0,MPP1,NON_SYNONYMOUS_CODING,MODERATE,T284I,0,GGT,OV2295,NaN,NaN,NaN
894605,X,154299695,A,C,36,0.90,1.0,0,BRCC3,UTR_5_PRIME,MODIFIER,NaN,0,CAG,OV2295,NaN,NaN,NaN
894606,X,154563943,T,A,313,0.99,1.0,0,CLIC2,UTR_5_PRIME,MODIFIER,NaN,0,CTC,OV2295,NaN,NaN,NaN
894607,X,154776628,T,G,49,0.92,1.0,0,TMLHE,UPSTREAM,MODIFIER,NaN,0,CTA,OV2295,NaN,NaN,NaN

In [5]:
ov2295_annotations["mutation"] = ov2295_annotations["chr"] + ":" + ov2295_annotations["pos"].astype(str) + ":" + ov2295_annotations["ref"] + ":" + ov2295_annotations["alt"]
ov2295_annotations

/var/folders/nz/jn74t1g51q10qyclfkkr8cgm0000gq/T/ipykernel_76633/4074667689.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ov2295_annotations["mutation"] = ov2295_annotations["chr"] + ":" + ov2295_annotations["pos"].astype(str) + ":" + ov2295_annotations["ref"] + ":" + ov2295_annotations["alt"]

,chr,pos,ref,alt,max_strelka_score,max_museq_score,mappability,is_cosmic,gene_name,effect,effect_impact,amino_acid_change,is_dbsnp,tri_nucleotide_context,patient,isabl_patient_id,isabl_sample_id,isabl_aliquot_id,mutation
859961,1,1142720,G,C,58,0.90,1.0,0,TNFRSF18,UPSTREAM,MODIFIER,NaN,0,GGA,OV2295,NaN,NaN,NaN,1:1142720:G:C
859962,1,1147615,A,G,24,0.92,1.0,0,TNFRSF4,NEXT_PROT[glycosylation-site:N-linked__GlcNAc....,MODERATE,NaN,0,CAG,OV2295,NaN,NaN,NaN,1:1147615:A:G
859963,1,1355571,T,C,52,0.90,1.0,0,ANKRD65,NON_SYNONYMOUS_CODING,MODERATE,D204G,0,GTC,OV2295,NaN,NaN,NaN,1:1355571:T:C
859964,1,1472034,G,C,97,0.92,1.0,0,ATAD3A,DOWNSTREAM,MODIFIER,NaN,0,AGC,OV2295,NaN,NaN,NaN,1:1472034:G:C
859965,1,1951177,T,C,44,0.93,1.0,0,NaN,MOTIF[MA0138.2:Nrsf],MODIFIER,NaN,0,GTC,OV2295,NaN,NaN,NaN,1:1951177:T:C
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
894603,X,153762606,G,A,27,0.97,1.0,0,G6PD,SYNONYMOUS_CODING,LOW,Y197,0,GGT,OV2295,NaN,NaN,NaN,X:153762606:G:A
894604,X,154012317,G,A,151,0.93,1.0,0,MPP1,NON_SYNONYMOUS_CODING,MODERATE,T284I,0,GGT,OV2295,NaN,NaN,NaN,X:154012317:G:A
894605,X,154299695,A,C,36,0.90,1.0,0,BRCC3,UTR_5_PRIME,MODIFIER,NaN,0,CAG,OV2295,NaN,NaN,NaN,X:154299695:A:C
894606,X,154563943,T,A,313,0.99,1.0,0,CLIC2,UTR_5_PRIME,MODIFIER,NaN,0,CTC,OV2295,NaN,NaN,NaN,X:154563943:T:A
894607,X,154776628,T,G,49,0.92,1.0,0,TMLHE,UPSTREAM,MODIFIER,NaN,0,CTA,OV2295,NaN,NaN,NaN,X:154776628:T:G

In [7]:
kmeans_labels = pd.read_csv("../data/laks/scope/kmeans_labels_filter_25_reclustered_all.csv", index_col=0)
kmeans_labels

               mutation  clone
0      10:100129846:C:A      1
1      10:100185101:A:G      1
2      10:100209326:T:C      2
3      10:100283942:C:T      1
4       10:10086005:G:T      7
...                 ...    ...
14063    X:98278474:C:A      0
14064    X:98452192:T:C      5
14065    X:98700894:C:T      2
14066    X:99136386:C:T      1
14067    X:99571629:G:T      6

[14068 rows x 2 columns]

In [10]:
merged = pd.merge(kmeans_labels, ov2295_annotations, on="mutation", how="left")
merged

,mutation,clone,chr,pos,ref,alt,max_strelka_score,max_museq_score,mappability,is_cosmic,gene_name,effect,effect_impact,amino_acid_change,is_dbsnp,tri_nucleotide_context,patient,isabl_patient_id,isabl_sample_id,isabl_aliquot_id
0,10:100129846:C:A,1,10,100129846.0,C,A,128.0,0.99,1.0,0.0,NaN,INTERGENIC,MODIFIER,NaN,0.0,ACC,OV2295,NaN,NaN,NaN
1,10:100185101:A:G,1,10,100185101.0,A,G,128.0,0.99,1.0,0.0,HPS1,UPSTREAM,MODIFIER,NaN,0.0,AAA,OV2295,NaN,NaN,NaN
2,10:100209326:T:C,2,10,100209326.0,T,C,286.0,0.99,1.0,0.0,HPS1,UPSTREAM,MODIFIER,NaN,0.0,TTG,OV2295,NaN,NaN,NaN
3,10:100209326:T:C,2,10,100209326.0,T,C,151.0,0.99,1.0,0.0,HPS1,UPSTREAM,MODIFIER,NaN,0.0,TTG,OV2295,NaN,NaN,NaN
4,10:100209326:T:C,2,10,100209326.0,T,C,112.0,0.99,1.0,0.0,HPS1,UPSTREAM,MODIFIER,NaN,0.0,TTG,OV2295,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19697,X:98700894:C:T,2,X,98700894.0,C,T,254.0,0.99,1.0,0.0,NaN,INTERGENIC,MODIFIER,NaN,0.0,GCA,OV2295,NaN,NaN,NaN
19698,X:98700894:C:T,2,X,98700894.0,C,T,331.0,0.98,1.0,0.0,NaN,INTERGENIC,MODIFIER,NaN,0.0,GCA,OV2295,NaN,NaN,NaN
19699,X:98700894:C:T,2,X,98700894.0,C,T,307.0,0.99,1.0,0.0,NaN,INTERGENIC,MODIFIER,NaN,0.0,GCA,OV2295,NaN,NaN,NaN
19700,X:99136386:C:T,1,X,99136386.0,C,T,272.0,1.00,1.0,0.0,NaN,INTERGENIC,MODIFIER,NaN,0.0,CCC,OV2295,NaN,NaN,NaN
19701,X:99571629:G:T,6,X,99571629.0,G,T,413.0,0.99,1.0,0.0,PCDH19,INTRON,MODIFIER,NaN,0.0,TGT,OV2295,NaN,NaN,NaN

In [21]:
mutations = [
    'MYH9',
    'TP53',
    'FOXP2',
    'SUGCT',
    'HTR1D',
    'INSL4',
    'CHD2',
    'ARID1A',
    'ZHX1',
]

In [23]:
merged[merged['gene_name'].isin(mutations)][['clone', 'gene_name']]

       clone gene_name
4506       1      CHD2
4507       3      CHD2
5385       2      TP53
5386       2      TP53
5387       2      TP53
7261       6     HTR1D
7389       1    ARID1A
8802       1      MYH9
8803       2      MYH9
8804       2      MYH9
8805       2      MYH9
15906      2     FOXP2
15907      2     FOXP2
15908      2     FOXP2
15909      1     FOXP2
15910      2     FOXP2
15911      2     FOXP2
15912      2     FOXP2
16471      2     SUGCT
16472      2     SUGCT
16473      2     SUGCT
16477      1     SUGCT
16479      5     SUGCT
16480      2     SUGCT
16481      2     SUGCT
16482      2     SUGCT
17039      1      ZHX1
18810      6     INSL4

In [28]:
phertilizer_snv_clones = pd.read_csv("../phertilizer-outputs/laks/SNV_clusters.csv")
phertilizer_snv_clones['mutation'] = phertilizer_snv_clones["mutation"].str.split("_").str[1]
phertilizer_snv_clones

       cluster          mutation
0            7  10:100129846:C:A
1            7  10:100185101:A:G
2            0  10:100209326:T:C
3            7  10:100283942:C:T
4            5   10:10086005:G:T
...        ...               ...
13827        2    X:98278474:C:A
13828        4    X:98452192:T:C
13829        0    X:98700894:C:T
13830        7    X:99136386:C:T
13831        2    X:99571629:G:T

[13832 rows x 2 columns]

In [29]:
merged2 = pd.merge(phertilizer_snv_clones, ov2295_annotations, on="mutation", how="left")
merged2

,cluster,mutation,chr,pos,ref,alt,max_strelka_score,max_museq_score,mappability,is_cosmic,gene_name,effect,effect_impact,amino_acid_change,is_dbsnp,tri_nucleotide_context,patient,isabl_patient_id,isabl_sample_id,isabl_aliquot_id
0,7,10:100129846:C:A,10,100129846.0,C,A,128.0,0.99,1.0,0.0,NaN,INTERGENIC,MODIFIER,NaN,0.0,ACC,OV2295,NaN,NaN,NaN
1,7,10:100185101:A:G,10,100185101.0,A,G,128.0,0.99,1.0,0.0,HPS1,UPSTREAM,MODIFIER,NaN,0.0,AAA,OV2295,NaN,NaN,NaN
2,0,10:100209326:T:C,10,100209326.0,T,C,286.0,0.99,1.0,0.0,HPS1,UPSTREAM,MODIFIER,NaN,0.0,TTG,OV2295,NaN,NaN,NaN
3,0,10:100209326:T:C,10,100209326.0,T,C,151.0,0.99,1.0,0.0,HPS1,UPSTREAM,MODIFIER,NaN,0.0,TTG,OV2295,NaN,NaN,NaN
4,0,10:100209326:T:C,10,100209326.0,T,C,112.0,0.99,1.0,0.0,HPS1,UPSTREAM,MODIFIER,NaN,0.0,TTG,OV2295,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19461,0,X:98700894:C:T,X,98700894.0,C,T,254.0,0.99,1.0,0.0,NaN,INTERGENIC,MODIFIER,NaN,0.0,GCA,OV2295,NaN,NaN,NaN
19462,0,X:98700894:C:T,X,98700894.0,C,T,331.0,0.98,1.0,0.0,NaN,INTERGENIC,MODIFIER,NaN,0.0,GCA,OV2295,NaN,NaN,NaN
19463,0,X:98700894:C:T,X,98700894.0,C,T,307.0,0.99,1.0,0.0,NaN,INTERGENIC,MODIFIER,NaN,0.0,GCA,OV2295,NaN,NaN,NaN
19464,7,X:99136386:C:T,X,99136386.0,C,T,272.0,1.00,1.0,0.0,NaN,INTERGENIC,MODIFIER,NaN,0.0,CCC,OV2295,NaN,NaN,NaN
19465,2,X:99571629:G:T,X,99571629.0,G,T,413.0,0.99,1.0,0.0,PCDH19,INTRON,MODIFIER,NaN,0.0,TGT,OV2295,NaN,NaN,NaN

In [31]:
merged2[merged2['gene_name'].isin(mutations)][['cluster', 'gene_name']]

       cluster gene_name
4453         7      CHD2
4454         3      CHD2
5325         0      TP53
5326         0      TP53
5327         0      TP53
7187         2     HTR1D
7313         7    ARID1A
8695         7      MYH9
8696         0      MYH9
8697         0      MYH9
8698         0      MYH9
15716        0     FOXP2
15717        0     FOXP2
15718        0     FOXP2
15719        7     FOXP2
15720        0     FOXP2
15721        0     FOXP2
15722        0     FOXP2
16274        0     SUGCT
16275        0     SUGCT
16276        0     SUGCT
16280        7     SUGCT
16282        4     SUGCT
16283        0     SUGCT
16284        0     SUGCT
16285        0     SUGCT
16835        7      ZHX1
18587        2     INSL4

In [32]:
merged['gene_name'].unique()

array([nan, 'HPS1', 'HPSE2', ..., 'GS1-519E5.1', 'DIAPH2', 'PCDH19'],
      shape=(5348,), dtype=object)