In [186]:
import pandas as pd
import numpy as np

In [187]:
snv_annotations = pd.read_csv("../data/williams/signatures_dataset/DLPextra/SNV/snv_annotations.csv.gz")

/var/folders/nz/jn74t1g51q10qyclfkkr8cgm0000gq/T/ipykernel_44279/3023799263.py:1: DtypeWarning: Columns (0,15,16,17) have mixed types. Specify dtype option on import or set low_memory=False.
  snv_annotations = pd.read_csv("../data/williams/signatures_dataset/DLPextra/SNV/snv_annotations.csv.gz")

In [188]:
ov2295_annotations = snv_annotations[snv_annotations['patient'] == 'OV2295']
ov2295_annotations

,chr,pos,ref,alt,max_strelka_score,max_museq_score,mappability,is_cosmic,gene_name,effect,effect_impact,amino_acid_change,is_dbsnp,tri_nucleotide_context,patient,isabl_patient_id,isabl_sample_id,isabl_aliquot_id
859961,1,1142720,G,C,58,0.90,1.0,0,TNFRSF18,UPSTREAM,MODIFIER,NaN,0,GGA,OV2295,NaN,NaN,NaN
859962,1,1147615,A,G,24,0.92,1.0,0,TNFRSF4,NEXT_PROT[glycosylation-site:N-linked__GlcNAc....,MODERATE,NaN,0,CAG,OV2295,NaN,NaN,NaN
859963,1,1355571,T,C,52,0.90,1.0,0,ANKRD65,NON_SYNONYMOUS_CODING,MODERATE,D204G,0,GTC,OV2295,NaN,NaN,NaN
859964,1,1472034,G,C,97,0.92,1.0,0,ATAD3A,DOWNSTREAM,MODIFIER,NaN,0,AGC,OV2295,NaN,NaN,NaN
859965,1,1951177,T,C,44,0.93,1.0,0,NaN,MOTIF[MA0138.2:Nrsf],MODIFIER,NaN,0,GTC,OV2295,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
894603,X,153762606,G,A,27,0.97,1.0,0,G6PD,SYNONYMOUS_CODING,LOW,Y197,0,GGT,OV2295,NaN,NaN,NaN
894604,X,154012317,G,A,151,0.93,1.0,0,MPP1,NON_SYNONYMOUS_CODING,MODERATE,T284I,0,GGT,OV2295,NaN,NaN,NaN
894605,X,154299695,A,C,36,0.90,1.0,0,BRCC3,UTR_5_PRIME,MODIFIER,NaN,0,CAG,OV2295,NaN,NaN,NaN
894606,X,154563943,T,A,313,0.99,1.0,0,CLIC2,UTR_5_PRIME,MODIFIER,NaN,0,CTC,OV2295,NaN,NaN,NaN
894607,X,154776628,T,G,49,0.92,1.0,0,TMLHE,UPSTREAM,MODIFIER,NaN,0,CTA,OV2295,NaN,NaN,NaN

In [189]:
ov2295_annotations["mutation"] = ov2295_annotations["chr"] + ":" + ov2295_annotations["pos"].astype(str) + ":" + ov2295_annotations["ref"] + ":" + ov2295_annotations["alt"]
ov2295_annotations

/var/folders/nz/jn74t1g51q10qyclfkkr8cgm0000gq/T/ipykernel_44279/4074667689.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ov2295_annotations["mutation"] = ov2295_annotations["chr"] + ":" + ov2295_annotations["pos"].astype(str) + ":" + ov2295_annotations["ref"] + ":" + ov2295_annotations["alt"]

,chr,pos,ref,alt,max_strelka_score,max_museq_score,mappability,is_cosmic,gene_name,effect,effect_impact,amino_acid_change,is_dbsnp,tri_nucleotide_context,patient,isabl_patient_id,isabl_sample_id,isabl_aliquot_id,mutation
859961,1,1142720,G,C,58,0.90,1.0,0,TNFRSF18,UPSTREAM,MODIFIER,NaN,0,GGA,OV2295,NaN,NaN,NaN,1:1142720:G:C
859962,1,1147615,A,G,24,0.92,1.0,0,TNFRSF4,NEXT_PROT[glycosylation-site:N-linked__GlcNAc....,MODERATE,NaN,0,CAG,OV2295,NaN,NaN,NaN,1:1147615:A:G
859963,1,1355571,T,C,52,0.90,1.0,0,ANKRD65,NON_SYNONYMOUS_CODING,MODERATE,D204G,0,GTC,OV2295,NaN,NaN,NaN,1:1355571:T:C
859964,1,1472034,G,C,97,0.92,1.0,0,ATAD3A,DOWNSTREAM,MODIFIER,NaN,0,AGC,OV2295,NaN,NaN,NaN,1:1472034:G:C
859965,1,1951177,T,C,44,0.93,1.0,0,NaN,MOTIF[MA0138.2:Nrsf],MODIFIER,NaN,0,GTC,OV2295,NaN,NaN,NaN,1:1951177:T:C
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
894603,X,153762606,G,A,27,0.97,1.0,0,G6PD,SYNONYMOUS_CODING,LOW,Y197,0,GGT,OV2295,NaN,NaN,NaN,X:153762606:G:A
894604,X,154012317,G,A,151,0.93,1.0,0,MPP1,NON_SYNONYMOUS_CODING,MODERATE,T284I,0,GGT,OV2295,NaN,NaN,NaN,X:154012317:G:A
894605,X,154299695,A,C,36,0.90,1.0,0,BRCC3,UTR_5_PRIME,MODIFIER,NaN,0,CAG,OV2295,NaN,NaN,NaN,X:154299695:A:C
894606,X,154563943,T,A,313,0.99,1.0,0,CLIC2,UTR_5_PRIME,MODIFIER,NaN,0,CTC,OV2295,NaN,NaN,NaN,X:154563943:T:A
894607,X,154776628,T,G,49,0.92,1.0,0,TMLHE,UPSTREAM,MODIFIER,NaN,0,CTA,OV2295,NaN,NaN,NaN,X:154776628:T:G

In [190]:
INSTANCE_STR = "k_17_t_0.75_f_0.2" 

kmeans_labels = pd.read_csv(f"../data/laks/scope/reclustered_labels/filtered/{INSTANCE_STR}.csv", index_col=0)
kmeans_labels.loc[kmeans_labels['clone'] == 11, 'clone'] = 2
kmeans_labels

               mutation  clone
0      10:100129846:C:A      4
1      10:100185101:A:G      4
2      10:100209326:T:C      2
3      10:100283942:C:T      4
4       10:10086005:G:T      6
...                 ...    ...
14063    X:98278474:C:A      7
14064    X:98452192:T:C      5
14065    X:98700894:C:T      2
14066    X:99136386:C:T      4
14067    X:99571629:G:T      0

[14068 rows x 2 columns]

In [191]:
kmeans_labels

               mutation  clone
0      10:100129846:C:A      4
1      10:100185101:A:G      4
2      10:100209326:T:C      2
3      10:100283942:C:T      4
4       10:10086005:G:T      6
...                 ...    ...
14063    X:98278474:C:A      7
14064    X:98452192:T:C      5
14065    X:98700894:C:T      2
14066    X:99136386:C:T      4
14067    X:99571629:G:T      0

[14068 rows x 2 columns]

In [192]:
merged = pd.merge(kmeans_labels, ov2295_annotations, on="mutation", how="left")
merged

,mutation,clone,chr,pos,ref,alt,max_strelka_score,max_museq_score,mappability,is_cosmic,gene_name,effect,effect_impact,amino_acid_change,is_dbsnp,tri_nucleotide_context,patient,isabl_patient_id,isabl_sample_id,isabl_aliquot_id
0,10:100129846:C:A,4,10,100129846.0,C,A,128.0,0.99,1.0,0.0,NaN,INTERGENIC,MODIFIER,NaN,0.0,ACC,OV2295,NaN,NaN,NaN
1,10:100185101:A:G,4,10,100185101.0,A,G,128.0,0.99,1.0,0.0,HPS1,UPSTREAM,MODIFIER,NaN,0.0,AAA,OV2295,NaN,NaN,NaN
2,10:100209326:T:C,2,10,100209326.0,T,C,286.0,0.99,1.0,0.0,HPS1,UPSTREAM,MODIFIER,NaN,0.0,TTG,OV2295,NaN,NaN,NaN
3,10:100209326:T:C,2,10,100209326.0,T,C,151.0,0.99,1.0,0.0,HPS1,UPSTREAM,MODIFIER,NaN,0.0,TTG,OV2295,NaN,NaN,NaN
4,10:100209326:T:C,2,10,100209326.0,T,C,112.0,0.99,1.0,0.0,HPS1,UPSTREAM,MODIFIER,NaN,0.0,TTG,OV2295,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19697,X:98700894:C:T,2,X,98700894.0,C,T,254.0,0.99,1.0,0.0,NaN,INTERGENIC,MODIFIER,NaN,0.0,GCA,OV2295,NaN,NaN,NaN
19698,X:98700894:C:T,2,X,98700894.0,C,T,331.0,0.98,1.0,0.0,NaN,INTERGENIC,MODIFIER,NaN,0.0,GCA,OV2295,NaN,NaN,NaN
19699,X:98700894:C:T,2,X,98700894.0,C,T,307.0,0.99,1.0,0.0,NaN,INTERGENIC,MODIFIER,NaN,0.0,GCA,OV2295,NaN,NaN,NaN
19700,X:99136386:C:T,4,X,99136386.0,C,T,272.0,1.00,1.0,0.0,NaN,INTERGENIC,MODIFIER,NaN,0.0,CCC,OV2295,NaN,NaN,NaN
19701,X:99571629:G:T,0,X,99571629.0,G,T,413.0,0.99,1.0,0.0,PCDH19,INTRON,MODIFIER,NaN,0.0,TGT,OV2295,NaN,NaN,NaN

In [244]:
mutations = [
    # 'MYH9',
    # 'TP53',
    # 'FOXP2',
    # 'SUGCT',
    # 'HTR1D',
    # 'INSL4',
    # 'CHD2',
    # 'ARID1A',
    # 'ZHX1',
    ### added by us
    # 'SOX5',
    # 'ABCA13',
    # 'ROBO1',
    # 'ROBO2',
    # 'CSMD1',
    # 'CSMD2',
    # 'CSMD3',
    'RB1',
    # 'RYR2',
    # 'LRP1B',
    # 'HECW1',
    # 'HECW2',
    'ANKHD1',
    'NBEA',
    'PEG3',
    'COL11A1',
    'COL11A2',
    'DNAH7',
    'KDR',

    ## 1%
    'ANKRD26',
    'MUC5B',
    'NBEAL1',
    'TLL2',

    'MTUS2',
    'PALB2',
    'MORC1',
]

In [245]:
with pd.option_context('display.max_rows', None, 'display.max_columns', None):
    print(merged[merged['gene_name'].isin(mutations)].value_counts(['gene_name', 'clone']).sort_index(level='gene_name'))

gene_name  clone
ANKHD1     7        2
ANKRD26    10       1
COL11A1    0        1
           2        3
           4        1
           6        1
COL11A2    0        1
DNAH7      0        1
KDR        0        1
MORC1      7        1
MTUS2      7        1
MUC5B      10       1
NBEA       4        1
           7        1
NBEAL1     10       1
PALB2      7        1
PEG3       7        1
RB1        0        1
TLL2       10       1
Name: count, dtype: int64

In [246]:
phertilizer_snv_clones = pd.read_csv("../phertilizer-outputs/laks/SNV_clusters.csv")
phertilizer_snv_clones['mutation'] = phertilizer_snv_clones["mutation"].str.split("_").str[1]
phertilizer_snv_clones

       cluster          mutation
0            7  10:100129846:C:A
1            7  10:100185101:A:G
2            0  10:100209326:T:C
3            7  10:100283942:C:T
4            5   10:10086005:G:T
...        ...               ...
13827        2    X:98278474:C:A
13828        4    X:98452192:T:C
13829        0    X:98700894:C:T
13830        7    X:99136386:C:T
13831        2    X:99571629:G:T

[13832 rows x 2 columns]

In [247]:
merged2 = pd.merge(phertilizer_snv_clones, ov2295_annotations, on="mutation", how="left")
merged2

,cluster,mutation,chr,pos,ref,alt,max_strelka_score,max_museq_score,mappability,is_cosmic,gene_name,effect,effect_impact,amino_acid_change,is_dbsnp,tri_nucleotide_context,patient,isabl_patient_id,isabl_sample_id,isabl_aliquot_id
0,7,10:100129846:C:A,10,100129846.0,C,A,128.0,0.99,1.0,0.0,NaN,INTERGENIC,MODIFIER,NaN,0.0,ACC,OV2295,NaN,NaN,NaN
1,7,10:100185101:A:G,10,100185101.0,A,G,128.0,0.99,1.0,0.0,HPS1,UPSTREAM,MODIFIER,NaN,0.0,AAA,OV2295,NaN,NaN,NaN
2,0,10:100209326:T:C,10,100209326.0,T,C,286.0,0.99,1.0,0.0,HPS1,UPSTREAM,MODIFIER,NaN,0.0,TTG,OV2295,NaN,NaN,NaN
3,0,10:100209326:T:C,10,100209326.0,T,C,151.0,0.99,1.0,0.0,HPS1,UPSTREAM,MODIFIER,NaN,0.0,TTG,OV2295,NaN,NaN,NaN
4,0,10:100209326:T:C,10,100209326.0,T,C,112.0,0.99,1.0,0.0,HPS1,UPSTREAM,MODIFIER,NaN,0.0,TTG,OV2295,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19461,0,X:98700894:C:T,X,98700894.0,C,T,254.0,0.99,1.0,0.0,NaN,INTERGENIC,MODIFIER,NaN,0.0,GCA,OV2295,NaN,NaN,NaN
19462,0,X:98700894:C:T,X,98700894.0,C,T,331.0,0.98,1.0,0.0,NaN,INTERGENIC,MODIFIER,NaN,0.0,GCA,OV2295,NaN,NaN,NaN
19463,0,X:98700894:C:T,X,98700894.0,C,T,307.0,0.99,1.0,0.0,NaN,INTERGENIC,MODIFIER,NaN,0.0,GCA,OV2295,NaN,NaN,NaN
19464,7,X:99136386:C:T,X,99136386.0,C,T,272.0,1.00,1.0,0.0,NaN,INTERGENIC,MODIFIER,NaN,0.0,CCC,OV2295,NaN,NaN,NaN
19465,2,X:99571629:G:T,X,99571629.0,G,T,413.0,0.99,1.0,0.0,PCDH19,INTRON,MODIFIER,NaN,0.0,TGT,OV2295,NaN,NaN,NaN

In [248]:
merged2[merged2['gene_name'].isin(mutations)][['cluster', 'gene_name']]

       cluster gene_name
424          2   ANKRD26
1002         2      TLL2
1216         2     MUC5B
3034         2     MTUS2
3060         7      NBEA
3061         2      NBEA
3129         2       RB1
4580         2     PALB2
6241         2      PEG3
6286         0   COL11A1
6287         0   COL11A1
6288         0   COL11A1
6290         7   COL11A1
6291         2   COL11A1
6292         5   COL11A1
9575         2     DNAH7
9617         2    NBEAL1
10533        8     MORC1
12746        2       KDR
13364        2    ANKHD1
13365        2    ANKHD1
14973        2   COL11A2

In [249]:
with pd.option_context('display.max_rows', None, 'display.max_columns', None):
    print(merged2[merged2['gene_name'].isin(mutations)].value_counts(['gene_name', 'cluster']).sort_index(level='gene_name'))

gene_name  cluster
ANKHD1     2          2
ANKRD26    2          1
COL11A1    0          3
           2          1
           5          1
           7          1
COL11A2    2          1
DNAH7      2          1
KDR        2          1
MORC1      8          1
MTUS2      2          1
MUC5B      2          1
NBEA       2          1
           7          1
NBEAL1     2          1
PALB2      2          1
PEG3       2          1
RB1        2          1
TLL2       2          1
Name: count, dtype: int64

## Laks

In [250]:
laks_nodes = pd.read_csv("../data/laks/ov2295_nodes.csv.gz")

laks_nodes_first = df_unique = (
    laks_nodes.sort_values(['variant_id', 'origin'], ascending=[True, False])
      .drop_duplicates(subset='variant_id', keep='first')
)

laks_nodes_first

,variant_id,node,loss,origin,presence,ml_origin,ml_presence,ml_loss
9,10:100129846:C:A,9,3.985202e-41,0.993210,0.006790,1,1,0
26,10:100185101:A:G,9,3.896468e-67,0.993189,0.006811,1,1,0
34,10:100209326:T:C,0,0.000000e+00,1.000000,0.000000,1,1,0
60,10:100283942:C:T,9,5.161910e-86,0.993218,0.006782,1,1,0
70,10:10086005:G:T,2,5.890891e-61,0.993219,0.006781,1,1,0
...,...,...,...,...,...,...,...,...
239083,X:98278474:C:A,12,1.019073e-35,0.791074,0.005422,1,1,0
239093,X:98452192:T:C,5,4.754889e-44,0.993219,0.006781,1,1,0
239105,X:98700894:C:T,0,0.000000e+00,1.000000,0.000000,1,1,0
239131,X:99136386:C:T,9,4.789471e-86,0.993212,0.006788,1,1,0
239151,X:99571629:G:T,12,4.783274e-116,0.993218,0.006782,1,1,0

In [251]:
merged22 = pd.merge(laks_nodes_first, ov2295_annotations, left_on="variant_id", right_on='mutation', how="left")
merged22

,variant_id,node,loss,origin,presence,ml_origin,ml_presence,ml_loss,chr,pos,...,effect,effect_impact,amino_acid_change,is_dbsnp,tri_nucleotide_context,patient,isabl_patient_id,isabl_sample_id,isabl_aliquot_id,mutation
0,10:100129846:C:A,9,3.985202e-41,0.993210,0.006790,1,1,0,10,100129846.0,...,INTERGENIC,MODIFIER,NaN,0.0,ACC,OV2295,NaN,NaN,NaN,10:100129846:C:A
1,10:100185101:A:G,9,3.896468e-67,0.993189,0.006811,1,1,0,10,100185101.0,...,UPSTREAM,MODIFIER,NaN,0.0,AAA,OV2295,NaN,NaN,NaN,10:100185101:A:G
2,10:100209326:T:C,0,0.000000e+00,1.000000,0.000000,1,1,0,10,100209326.0,...,UPSTREAM,MODIFIER,NaN,0.0,TTG,OV2295,NaN,NaN,NaN,10:100209326:T:C
3,10:100209326:T:C,0,0.000000e+00,1.000000,0.000000,1,1,0,10,100209326.0,...,UPSTREAM,MODIFIER,NaN,0.0,TTG,OV2295,NaN,NaN,NaN,10:100209326:T:C
4,10:100209326:T:C,0,0.000000e+00,1.000000,0.000000,1,1,0,10,100209326.0,...,UPSTREAM,MODIFIER,NaN,0.0,TTG,OV2295,NaN,NaN,NaN,10:100209326:T:C
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19697,X:98700894:C:T,0,0.000000e+00,1.000000,0.000000,1,1,0,X,98700894.0,...,INTERGENIC,MODIFIER,NaN,0.0,GCA,OV2295,NaN,NaN,NaN,X:98700894:C:T
19698,X:98700894:C:T,0,0.000000e+00,1.000000,0.000000,1,1,0,X,98700894.0,...,INTERGENIC,MODIFIER,NaN,0.0,GCA,OV2295,NaN,NaN,NaN,X:98700894:C:T
19699,X:98700894:C:T,0,0.000000e+00,1.000000,0.000000,1,1,0,X,98700894.0,...,INTERGENIC,MODIFIER,NaN,0.0,GCA,OV2295,NaN,NaN,NaN,X:98700894:C:T
19700,X:99136386:C:T,9,4.789471e-86,0.993212,0.006788,1,1,0,X,99136386.0,...,INTERGENIC,MODIFIER,NaN,0.0,CCC,OV2295,NaN,NaN,NaN,X:99136386:C:T
19701,X:99571629:G:T,12,4.783274e-116,0.993218,0.006782,1,1,0,X,99571629.0,...,INTRON,MODIFIER,NaN,0.0,TGT,OV2295,NaN,NaN,NaN,X:99571629:G:T

In [252]:
merged22[merged22['gene_name'].isin(mutations)][['node', 'gene_name']]

       node gene_name
428      12   ANKRD26
1010     12      TLL2
1226     12     MUC5B
3067     13     MTUS2
3093      9      NBEA
3094     13      NBEA
3165     12       RB1
4633     12     PALB2
6308     13      PEG3
6353      0   COL11A1
6354      0   COL11A1
6355      0   COL11A1
6357      9   COL11A1
6358     12   COL11A1
6359      2   COL11A1
9697     12     DNAH7
9739     12    NBEAL1
10669    13     MORC1
12905    12       KDR
13527    13    ANKHD1
13528    13    ANKHD1
15154    12   COL11A2

In [253]:
with pd.option_context('display.max_rows', None, 'display.max_columns', None):
    print(merged22[merged22['gene_name'].isin(mutations)].value_counts(['gene_name', 'node']).sort_index(level='gene_name'))

gene_name  node
ANKHD1     13      2
ANKRD26    12      1
COL11A1    0       3
           2       1
           9       1
           12      1
COL11A2    12      1
DNAH7      12      1
KDR        12      1
MORC1      13      1
MTUS2      13      1
MUC5B      12      1
NBEA       9       1
           13      1
NBEAL1     12      1
PALB2      12      1
PEG3       13      1
RB1        12      1
TLL2       12      1
Name: count, dtype: int64

## Mutated Genes from cBioPortal

In [231]:
cbio = pd.read_csv("../data/laks/Mutated_Genes.txt", sep="\t")
cbio["frequency"] = cbio["Freq"].str.rstrip("%").astype(float)
cbio = cbio.sort_values("frequency", ascending=False)
cbio

,Gene,MutSig(Q-value),# Mut,#,Profiled Samples,Freq,Is Cancer Gene (source: OncoKB),frequency
5978,TP53,NaN,374,369,405,91.1%,Yes,91.1
1195,TTN,NaN,120,96,405,23.7%,No,23.7
1690,CSMD3,NaN,37,36,405,8.9%,No,8.9
4539,USH2A,NaN,32,31,405,7.7%,No,7.7
7891,NF1,NaN,30,29,405,7.2%,Yes,7.2
...,...,...,...,...,...,...,...,...
7340,INTS4,NaN,1,1,405,0.2%,No,0.2
3131,SYBU,NaN,1,1,405,0.2%,No,0.2
3132,CISH,NaN,1,1,405,0.2%,No,0.2
7337,INTS5,NaN,1,1,405,0.2%,No,0.2
5632,XPNPEP3,NaN,1,1,405,0.2%,No,0.2

In [238]:
cbio_with_freq_gt = cbio[cbio['frequency'] >= 2.5]
cbio_with_freq_gt

,Gene,MutSig(Q-value),# Mut,#,Profiled Samples,Freq,Is Cancer Gene (source: OncoKB),frequency
5978,TP53,NaN,374,369,405,91.1%,Yes,91.1
1195,TTN,NaN,120,96,405,23.7%,No,23.7
1690,CSMD3,NaN,37,36,405,8.9%,No,8.9
4539,USH2A,NaN,32,31,405,7.7%,No,7.7
7891,NF1,NaN,30,29,405,7.2%,Yes,7.2
...,...,...,...,...,...,...,...,...
4672,BRCA2,NaN,10,10,405,2.5%,Yes,2.5
9760,ABCB4,NaN,10,10,405,2.5%,No,2.5
7499,ANKHD1,NaN,10,10,405,2.5%,No,2.5
5472,ARHGAP35,NaN,13,10,405,2.5%,Yes,2.5
1210,XIRP2,NaN,10,10,405,2.5%,No,2.5

In [239]:
genes_with_freq_gt = cbio_with_freq_gt['Gene'].to_list()
genes_with_freq_gt

['TP53',
 'TTN',
 'CSMD3',
 'USH2A',
 'NF1',
 'RYR2',
 'MUC16',
 'HMCN1',
 'FAT3',
 'SI',
 'MACF1',
 'MUC17',
 'AHNAK',
 'APOB',
 'FLG2',
 'LRP1B',
 'DNAH3',
 'FLG',
 'CDK12',
 'BRCA1',
 'LRP1',
 'DNAH5',
 'DST',
 'SYNE1',
 'TG',
 'SYNE2',
 'FCGBP',
 'COL6A3',
 'TOP2A',
 'RELN',
 'DNAH10',
 'RB1',
 'DNAH8',
 'MDN1',
 'MYH4',
 'TENM1',
 'KMT2C',
 'HUWE1',
 'ADGRV1',
 'NEB',
 'VPS13B',
 'TACC2',
 'PKHD1',
 'MYH1',
 'LRP2',
 'DYNC1H1',
 'ZFHX4',
 'KMT2A',
 'LRRK2',
 'RYR1',
 'IGSF10',
 'DMD',
 'CSMD1',
 'PTPRZ1',
 'DNAH11',
 'CSMD2',
 'SPTA1',
 'PRUNE2',
 'CREBBP',
 'RNF213',
 'BLTP1',
 'COL5A3',
 'PKHD1L1',
 'COL11A1',
 'AHNAK2',
 'FAT1',
 'HSPG2',
 'GOLGB1',
 'DYSF',
 'PCLO',
 'DNAH9',
 'SZT2',
 'MRC1',
 'MAP2',
 'ZNF236',
 'FAT4',
 'PPP1R3A',
 'NOTCH4',
 'CACNA1C',
 'CNTNAP5',
 'WDR6',
 'MYO3A',
 'ADGRG4',
 'DNAH17',
 'MAST2',
 'LAMC3',
 'F8',
 'F5',
 'MXRA5',
 'COL22A1',
 'ALMS1',
 'NIPBL',
 'LAMA2',
 'TENM2',
 'ABCA13',
 'CD163L1',
 'MED12L',
 'AKAP9',
 'KDR',
 'ZNF536',
 'SPTAN1',
 'FRMPD3',
 'MYH2',
 'IQGAP2',
 'OBSCN',
 'UNC79',
 'ADCY2',
 'SPEN',
 'ASPM',
 'ACACB',
 'COL4A4',
 'PLCH1',
 'PCDH15',
 'DSCAML1',
 'MYH15',
 'MAP3K19',
 'BCORL1',
 'COL6A6',
 'CHD4',
 'CHD7',
 'ANK2',
 'CCDC80',
 'FRAS1',
 'RIF1',
 'DCC',
 'TNIK',
 'NLRP3',
 'SVIL',
 'SALL1',
 'ZSWIM8',
 'DOCK2',
 'LCT',
 'CACNA1A',
 'ATRX',
 'WDFY3',
 'ANKRD35',
 'DNAH7',
 'LAMA3',
 'USP34',
 'BRCA2',
 'ABCB4',
 'ANKHD1',
 'ARHGAP35',
 'XIRP2']

In [240]:
merged3 = pd.merge(kmeans_labels, ov2295_annotations, on="mutation", how="left")

In [241]:
merged_filt = merged3[merged3['gene_name'].isin(genes_with_freq_gt)][['clone', 'gene_name']]
merged_filt

       clone gene_name
227        5     TACC2
228        0     TACC2
229        7     TACC2
230        6     TACC2
417        4     MYO3A
...      ...       ...
19439      6       DMD
19440      3       DMD
19441      0       DMD
19442      4     MXRA5
19517      4     HUWE1

[363 rows x 2 columns]

In [242]:
# merged_filt = merged_filt[merged_filt['clone'].isin([0, 10, 7])]

In [243]:
with pd.option_context('display.max_rows', None, 'display.max_columns', None):
    print(merged_filt.value_counts(['gene_name', 'clone']).sort_index(level='gene_name'))

gene_name  clone
ABCA13     4         3
           10        1
ADCY2      3         1
           4         1
AKAP9      4         1
ANK2       0         1
           3         1
           4         2
ANKHD1     7         2
APOB       13        1
ASPM       2         3
BCORL1     1         1
CACNA1A    0         1
           1         1
           4         1
CACNA1C    0         3
           2         3
           3         1
CNTNAP5    0         2
           1         1
           2        15
           3         2
           4         1
           5         1
COL11A1    0         1
           2         3
           4         1
           6         1
COL22A1    0         3
           5         1
COL4A4     0         1
COL6A3     4         1
COL6A6     5         1
CREBBP     0         1
           13        1
CSMD1      0         6
           2         9
           3         1
           4         8
           5         1
           6         1
           7         1
           9         3
           10        1
           15        1
CSMD2      0         2
           2         6
           4         1
           5         1
CSMD3      0         3
           2         3
           4         2
           5         2
           9         2
           13        1
DCC        0         3
           1         1
           2         6
           3         1
           4         8
DMD        0         3
           1         2
           2         3
           3         1
           4         1
           5         1
           6         1
DNAH11     13        1
DNAH17     6         1
DNAH7      0         1
DNAH8      1         1
DNAH9      2         3
           4         2
DOCK2      0         1
           4         1
           10        1
DSCAML1    0         3
           2         3
           3         1
           4         2
           10        1
DST        4         1
DYSF       0         1
           3         1
FAT3       2         3
           3         1
           9         3
FRAS1      0         1
           3         1
           4         2
           6         1
GOLGB1     1         1
           2         2
HMCN1      2         2
HUWE1      4         1
IGSF10     2         3
IQGAP2     13        1
KDR        0         1
LAMA2      0         1
           3         5
LAMC3      2         3
LRP1B      0         3
           1         2
           2         3
           4         2
           5         1
           13        1
LRP2       4         1
           5         1
           6         1
MAP2       6         1
MAST2      0         1
           2         3
MDN1       1         1
           2         3
MED12L     2         3
MXRA5      4         1
MYH2       6         1
MYO3A      4         1
NEB        5         1
NIPBL      2         3
OBSCN      4         1
PCDH15     0         1
           2         5
           4         1
           13        1
PCLO       0         1
           1         1
PKHD1      0         1
           2         9
           4         2
PKHD1L1    0         1
           1         1
PLCH1      3         1
           4         1
PPP1R3A    0         1
           3         1
PRUNE2     0         1
           3         1
           4         1
RB1        0         1
RELN       13        1
RYR1       2         3
           4         1
RYR2       0         1
           1         2
           2         3
           4         2
           6         1
SPTAN1     0         1
           2         2
SVIL       3         1
SYNE1      4         1
           5         1
           6         1
SYNE2      2         3
           3         1
           4         1
TACC2      0         1
           5         1
           6         1
           7         1
TENM1      4         1
TENM2      1         2
           2         3
           3         1
           4         3
           6         1
           13        1
TG         4         2
           13        1
TNIK       0         1
           2         3
           4         1
TOP2A      5         1
TP53       2         3
UNC79      3         1
USH2A      1         1
           4         2
           6         2
USP34      9         2
VPS13B     0         1
           9         6
WDFY3      2         3
           4         1
XIRP2      2         3
           5         1
           15        1
ZFHX4      4         1
ZNF536     0         2
           2         6
           5         1
Name: count, dtype: int64

In [185]:
cna_genes = pd.read_csv("../data/laks/CNA_Genes.txt", sep="\t")
cna_genes["frequency"] = cna_genes["Freq"].str.rstrip("%").astype(float)
cna_genes = cna_genes.sort_values("frequency", ascending=False)
cna_genes

,Gene,Gistic(Q-value),Cytoband,CNA,Profiled Samples,#,Freq,Is Cancer Gene (source: OncoKB),frequency
36300,LINC00824,NaN,8q24.21,AMP,130,571,22.8%,No,22.8
19566,RN7SKP226,NaN,8q24.21,AMP,130,571,22.8%,No,22.8
9572,RNU4-25P,NaN,8q24.21,AMP,130,571,22.8%,No,22.8
26665,PVT1,NaN,8q24.21,AMP,130,571,22.8%,No,22.8
33837,RNVU1-32,NaN,8q24.21,AMP,130,571,22.8%,No,22.8
...,...,...,...,...,...,...,...,...,...
31949,SEMA6A-AS2,NaN,5q23.1,AMP,1,571,0.2%,No,0.2
15640,TRPC7,NaN,5q31.1,HOMDEL,1,571,0.2%,No,0.2
15643,EIF4EBP3,NaN,5q31.3,AMP,1,571,0.2%,No,0.2
31942,ZNF90P3,NaN,7q11.21,HOMDEL,1,571,0.2%,No,0.2
37430,FAM27E5,NaN,17p11.2,AMP,1,571,0.2%,No,0.2

In [122]:
cna_with_freq_gt = cna_genes[cna_genes['frequency'] >= 0]
cna_with_freq_gt

,Gene,Gistic(Q-value),Cytoband,CNA,Profiled Samples,#,Freq,Is Cancer Gene (source: OncoKB),frequency
36300,LINC00824,NaN,8q24.21,AMP,130,571,22.8%,No,22.8
19566,RN7SKP226,NaN,8q24.21,AMP,130,571,22.8%,No,22.8
9572,RNU4-25P,NaN,8q24.21,AMP,130,571,22.8%,No,22.8
26665,PVT1,NaN,8q24.21,AMP,130,571,22.8%,No,22.8
33837,RNVU1-32,NaN,8q24.21,AMP,130,571,22.8%,No,22.8
...,...,...,...,...,...,...,...,...,...
31949,SEMA6A-AS2,NaN,5q23.1,AMP,1,571,0.2%,No,0.2
15640,TRPC7,NaN,5q31.1,HOMDEL,1,571,0.2%,No,0.2
15643,EIF4EBP3,NaN,5q31.3,AMP,1,571,0.2%,No,0.2
31942,ZNF90P3,NaN,7q11.21,HOMDEL,1,571,0.2%,No,0.2
37430,FAM27E5,NaN,17p11.2,AMP,1,571,0.2%,No,0.2

In [123]:
cna_genes_with_freq_gt = cna_with_freq_gt['Gene'].to_list()

In [124]:
merged4 = pd.merge(kmeans_labels, ov2295_annotations, on="mutation", how="left")

In [125]:
merged_filt = merged4[merged4['gene_name'].isin(cna_genes_with_freq_gt)][['clone', 'gene_name']]
merged_filt

       clone gene_name
1          4      HPS1
2          2      HPS1
3          2      HPS1
4          2      HPS1
5          4     HPSE2
...      ...       ...
19081      0     CENPP
19082      0     PTPRD
19083      0     SUSD3
19097      0     DMRT3
19102      4     PTPRD

[7796 rows x 2 columns]

In [126]:
merged_filt.value_counts(['clone'])

clone
2        3251
4        1318
0        1155
3         455
1         436
6         302
5         243
9         204
13        142
10        130
7         107
15         53
Name: count, dtype: int64

In [111]:
with pd.option_context('display.max_rows', None, 'display.max_columns', None):
    print(merged_filt.value_counts(['gene_name', 'clone']).sort_index(level='gene_name'))

gene_name   clone
ADCY8       0        1
            1        1
            3        1
            6        2
AGO2        0        1
            2        3
            5        1
ASAP1       0        2
            4        1
            6        1
            9        3
ATAD2       0        1
CASC11      6        1
CASC8       4        1
CCDC26      0        2
CLDN11      3        1
COL14A1     0        1
COL22A1     0        3
            5        1
DENND3      2        3
DEPTOR      0        1
            4        1
            9        3
EFR3A       0        1
            2        3
            7        1
EGFEM1P     2        6
            4        1
            6        1
EIF3H       0        1
            4        1
EXOSC4      0        1
EXT1        9        3
FAM135B     2        3
            3        1
            6        1
            9        6
FAM83H      2        3
FBXO32      4        1
FER1L6-AS2  3        1
FNDC3B      4        1
            6        1
            10       1
KCNK9       2        3
            5        1
KCNQ3       0        1
            2        3
            3        1
            6        1
KHDRBS3     0        1
            5        1
KLHL38      4        1
LINC00536   0        2
            4        1
            6        1
LINC00578   4        1
LINC00964   5        1
LRRC31      10       1
LY6D        0        1
MAFA        9        2
MAL2        0        1
            4        1
MECOM       2        6
MED30       0        1
MROH5       0        2
            4        1
MTSS1       4        1
            6        1
NLGN1       0        2
            2        3
            4        2
NSMCE2      4        1
            13       1
OC90        4        1
PARP10      2        3
PCAT1       4        1
PLD1        4        1
PTK2        5        1
PTP4A3      0        1
RAD21       4        1
RNA5SP276   0        1
RNU1-35P    10       1
RPL22L1     2        3
SAMD12      4        1
SERPINI1    2        3
SLA         2        3
            9        3
SLC30A8     0        3
            5        1
SLC45A4     0        1
SLC7A14     4        2
SNTB1       0        1
            4        3
SPATA16     4        1
TG          4        2
            13       1
THEM6       4        1
TIGD5       0        1
TMEM71      3        1
TNIK        0        1
            2        3
            4        1
TRAPPC9     0        1
            5        1
TRPS1       0        1
            2        3
TSNARE1     5        1
URI1        4        1
UTP23       0        1
WDR49       4        1
ZFAT        0        3
ZHX1        4        1
ZHX2        0        1
Name: count, dtype: int64

# Mutation Labelling for Williams SA1091

In [254]:
SA1091_annotations = snv_annotations[snv_annotations['patient'] == 'SA1091']
SA1091_annotations

,chr,pos,ref,alt,max_strelka_score,max_museq_score,mappability,is_cosmic,gene_name,effect,effect_impact,amino_acid_change,is_dbsnp,tri_nucleotide_context,patient,isabl_patient_id,isabl_sample_id,isabl_aliquot_id
1310185,1,981846,G,T,46,0.97,1.0,0,AGRN,NON_SYNONYMOUS_CODING,MODERATE,S994I,0,AGC,SA1091,NaN,NaN,NaN
1310186,1,1147615,A,G,57,0.95,1.0,0,TNFRSF4,NEXT_PROT[glycosylation-site:N-linked__GlcNAc....,MODERATE,NaN,0,CAG,SA1091,NaN,NaN,NaN
1310187,1,1153949,C,T,35,0.91,1.0,0,SDF4,SYNONYMOUS_CODING,LOW,E267,0,TCT,SA1091,NaN,NaN,NaN
1310188,1,1235222,T,C,20,0.93,1.0,0,ACAP3,NON_SYNONYMOUS_CODING,MODERATE,I243V,0,ATG,SA1091,NaN,NaN,NaN
1310189,1,1246441,C,T,39,0.95,1.0,1,PUSL1,SYNONYMOUS_CODING,LOW,Y284,0,ACG,SA1091,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1319121,X,153762564,G,C,68,0.97,1.0,0,G6PD,SYNONYMOUS_CODING,LOW,L211,0,TGA,SA1091,NaN,NaN,NaN
1319122,X,153762606,G,A,24,0.97,1.0,0,G6PD,SYNONYMOUS_CODING,LOW,Y197,0,GGT,SA1091,NaN,NaN,NaN
1319123,X,153903009,T,G,34,0.94,1.0,0,GAB3,DOWNSTREAM,MODIFIER,NaN,0,CTC,SA1091,NaN,NaN,NaN
1319124,X,154250756,G,C,22,0.96,1.0,0,F8,STOP_GAINED,HIGH,Y24*,0,AGT,SA1091,NaN,NaN,NaN
1319125,X,154776628,T,G,46,0.96,1.0,0,TMLHE,UPSTREAM,MODIFIER,NaN,0,CTA,SA1091,NaN,NaN,NaN

In [255]:
kmeans_labels_sa1091 = pd.read_csv("../data/williams/scratch/SA1091/kmeans_labels.csv")
kmeans_labels_sa1091

              mutation  clone
0     10:100510178:C:T      7
1     10:100992410:G:C      0
2     10:101243015:C:T      7
3     10:101300414:G:C     13
4     10:101413916:G:C     10
...                ...    ...
8922    X:99571390:A:C      9
8923    X:99581128:A:C      2
8924    X:99591165:G:C      2
8925    X:99646173:A:C     14
8926    X:99672357:A:T      0

[8927 rows x 2 columns]

In [256]:
df = SA1091_annotations
df["mutation"] = df["chr"] + ":" + df["pos"].astype(str) + ":" + df["ref"] + ":" + df["alt"]
df

/var/folders/nz/jn74t1g51q10qyclfkkr8cgm0000gq/T/ipykernel_44279/3463629295.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["mutation"] = df["chr"] + ":" + df["pos"].astype(str) + ":" + df["ref"] + ":" + df["alt"]

,chr,pos,ref,alt,max_strelka_score,max_museq_score,mappability,is_cosmic,gene_name,effect,effect_impact,amino_acid_change,is_dbsnp,tri_nucleotide_context,patient,isabl_patient_id,isabl_sample_id,isabl_aliquot_id,mutation
1310185,1,981846,G,T,46,0.97,1.0,0,AGRN,NON_SYNONYMOUS_CODING,MODERATE,S994I,0,AGC,SA1091,NaN,NaN,NaN,1:981846:G:T
1310186,1,1147615,A,G,57,0.95,1.0,0,TNFRSF4,NEXT_PROT[glycosylation-site:N-linked__GlcNAc....,MODERATE,NaN,0,CAG,SA1091,NaN,NaN,NaN,1:1147615:A:G
1310187,1,1153949,C,T,35,0.91,1.0,0,SDF4,SYNONYMOUS_CODING,LOW,E267,0,TCT,SA1091,NaN,NaN,NaN,1:1153949:C:T
1310188,1,1235222,T,C,20,0.93,1.0,0,ACAP3,NON_SYNONYMOUS_CODING,MODERATE,I243V,0,ATG,SA1091,NaN,NaN,NaN,1:1235222:T:C
1310189,1,1246441,C,T,39,0.95,1.0,1,PUSL1,SYNONYMOUS_CODING,LOW,Y284,0,ACG,SA1091,NaN,NaN,NaN,1:1246441:C:T
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1319121,X,153762564,G,C,68,0.97,1.0,0,G6PD,SYNONYMOUS_CODING,LOW,L211,0,TGA,SA1091,NaN,NaN,NaN,X:153762564:G:C
1319122,X,153762606,G,A,24,0.97,1.0,0,G6PD,SYNONYMOUS_CODING,LOW,Y197,0,GGT,SA1091,NaN,NaN,NaN,X:153762606:G:A
1319123,X,153903009,T,G,34,0.94,1.0,0,GAB3,DOWNSTREAM,MODIFIER,NaN,0,CTC,SA1091,NaN,NaN,NaN,X:153903009:T:G
1319124,X,154250756,G,C,22,0.96,1.0,0,F8,STOP_GAINED,HIGH,Y24*,0,AGT,SA1091,NaN,NaN,NaN,X:154250756:G:C
1319125,X,154776628,T,G,46,0.96,1.0,0,TMLHE,UPSTREAM,MODIFIER,NaN,0,CTA,SA1091,NaN,NaN,NaN,X:154776628:T:G

In [257]:
merged1091 = pd.merge(kmeans_labels_sa1091, SA1091_annotations, on='mutation', how='left')
merged1091

,mutation,clone,chr,pos,ref,alt,max_strelka_score,max_museq_score,mappability,is_cosmic,gene_name,effect,effect_impact,amino_acid_change,is_dbsnp,tri_nucleotide_context,patient,isabl_patient_id,isabl_sample_id,isabl_aliquot_id
0,10:100510178:C:T,7,10,100510178,C,T,80,0.94,1.0,0,HPSE2,INTRON,MODIFIER,NaN,0,CCA,SA1091,NaN,NaN,NaN
1,10:100992410:G:C,0,10,100992410,G,C,79,0.93,1.0,0,HPSE2,INTRON,MODIFIER,NaN,0,GGC,SA1091,NaN,NaN,NaN
2,10:101243015:C:T,7,10,101243015,C,T,70,1.00,1.0,0,NaN,INTERGENIC,MODIFIER,NaN,0,GCT,SA1091,NaN,NaN,NaN
3,10:101300414:G:C,13,10,101300414,G,C,26,0.93,1.0,0,NKX2-3,DOWNSTREAM,MODIFIER,NaN,0,GGG,SA1091,NaN,NaN,NaN
4,10:101413916:G:C,10,10,101413916,G,C,29,0.92,1.0,0,RP11-483F11.7,UPSTREAM,MODIFIER,NaN,0,AGT,SA1091,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8935,X:99571390:A:C,9,X,99571390,A,C,77,0.98,1.0,0,PCDH19,INTRON,MODIFIER,NaN,0,GAC,SA1091,NaN,NaN,NaN
8936,X:99581128:A:C,2,X,99581128,A,C,89,0.97,1.0,0,PCDH19,INTRON,MODIFIER,NaN,0,GAG,SA1091,NaN,NaN,NaN
8937,X:99591165:G:C,2,X,99591165,G,C,47,0.96,1.0,0,PCDH19,INTRON,MODIFIER,NaN,0,AGC,SA1091,NaN,NaN,NaN
8938,X:99646173:A:C,14,X,99646173,A,C,57,0.97,1.0,0,PCDH19,INTRON,MODIFIER,NaN,0,GAT,SA1091,NaN,NaN,NaN
8939,X:99672357:A:T,0,X,99672357,A,T,53,0.93,1.0,0,NaN,INTERGENIC,MODIFIER,NaN,0,GAC,SA1091,NaN,NaN,NaN

In [258]:
cbio = pd.read_csv("../data/laks/Mutated_Genes.txt", sep="\t")
cbio["frequency"] = cbio["Freq"].str.rstrip("%").astype(float)
cbio = cbio.sort_values("frequency", ascending=False)
cbio

,Gene,MutSig(Q-value),# Mut,#,Profiled Samples,Freq,Is Cancer Gene (source: OncoKB),frequency
5978,TP53,NaN,374,369,405,91.1%,Yes,91.1
1195,TTN,NaN,120,96,405,23.7%,No,23.7
1690,CSMD3,NaN,37,36,405,8.9%,No,8.9
4539,USH2A,NaN,32,31,405,7.7%,No,7.7
7891,NF1,NaN,30,29,405,7.2%,Yes,7.2
...,...,...,...,...,...,...,...,...
7340,INTS4,NaN,1,1,405,0.2%,No,0.2
3131,SYBU,NaN,1,1,405,0.2%,No,0.2
3132,CISH,NaN,1,1,405,0.2%,No,0.2
7337,INTS5,NaN,1,1,405,0.2%,No,0.2
5632,XPNPEP3,NaN,1,1,405,0.2%,No,0.2

In [279]:
cbio_with_freq_gt = cbio[cbio['frequency'] >= 2.5]
cbio_with_freq_gt

,Gene,MutSig(Q-value),# Mut,#,Profiled Samples,Freq,Is Cancer Gene (source: OncoKB),frequency
5978,TP53,NaN,374,369,405,91.1%,Yes,91.1
1195,TTN,NaN,120,96,405,23.7%,No,23.7
1690,CSMD3,NaN,37,36,405,8.9%,No,8.9
4539,USH2A,NaN,32,31,405,7.7%,No,7.7
7891,NF1,NaN,30,29,405,7.2%,Yes,7.2
...,...,...,...,...,...,...,...,...
4672,BRCA2,NaN,10,10,405,2.5%,Yes,2.5
9760,ABCB4,NaN,10,10,405,2.5%,No,2.5
7499,ANKHD1,NaN,10,10,405,2.5%,No,2.5
5472,ARHGAP35,NaN,13,10,405,2.5%,Yes,2.5
1210,XIRP2,NaN,10,10,405,2.5%,No,2.5

In [280]:
genes_with_freq_gt = cbio_with_freq_gt['Gene'].to_list()
genes_with_freq_gt

['TP53',
 'TTN',
 'CSMD3',
 'USH2A',
 'NF1',
 'RYR2',
 'MUC16',
 'HMCN1',
 'FAT3',
 'SI',
 'MACF1',
 'MUC17',
 'AHNAK',
 'APOB',
 'FLG2',
 'LRP1B',
 'DNAH3',
 'FLG',
 'CDK12',
 'BRCA1',
 'LRP1',
 'DNAH5',
 'DST',
 'SYNE1',
 'TG',
 'SYNE2',
 'FCGBP',
 'COL6A3',
 'TOP2A',
 'RELN',
 'DNAH10',
 'RB1',
 'DNAH8',
 'MDN1',
 'MYH4',
 'TENM1',
 'KMT2C',
 'HUWE1',
 'ADGRV1',
 'NEB',
 'VPS13B',
 'TACC2',
 'PKHD1',
 'MYH1',
 'LRP2',
 'DYNC1H1',
 'ZFHX4',
 'KMT2A',
 'LRRK2',
 'RYR1',
 'IGSF10',
 'DMD',
 'CSMD1',
 'PTPRZ1',
 'DNAH11',
 'CSMD2',
 'SPTA1',
 'PRUNE2',
 'CREBBP',
 'RNF213',
 'BLTP1',
 'COL5A3',
 'PKHD1L1',
 'COL11A1',
 'AHNAK2',
 'FAT1',
 'HSPG2',
 'GOLGB1',
 'DYSF',
 'PCLO',
 'DNAH9',
 'SZT2',
 'MRC1',
 'MAP2',
 'ZNF236',
 'FAT4',
 'PPP1R3A',
 'NOTCH4',
 'CACNA1C',
 'CNTNAP5',
 'WDR6',
 'MYO3A',
 'ADGRG4',
 'DNAH17',
 'MAST2',
 'LAMC3',
 'F8',
 'F5',
 'MXRA5',
 'COL22A1',
 'ALMS1',
 'NIPBL',
 'LAMA2',
 'TENM2',
 'ABCA13',
 'CD163L1',
 'MED12L',
 'AKAP9',
 'KDR',
 'ZNF536',
 'SPTAN1',
 'FRMPD3',
 'MYH2',
 'IQGAP2',
 'OBSCN',
 'UNC79',
 'ADCY2',
 'SPEN',
 'ASPM',
 'ACACB',
 'COL4A4',
 'PLCH1',
 'PCDH15',
 'DSCAML1',
 'MYH15',
 'MAP3K19',
 'BCORL1',
 'COL6A6',
 'CHD4',
 'CHD7',
 'ANK2',
 'CCDC80',
 'FRAS1',
 'RIF1',
 'DCC',
 'TNIK',
 'NLRP3',
 'SVIL',
 'SALL1',
 'ZSWIM8',
 'DOCK2',
 'LCT',
 'CACNA1A',
 'ATRX',
 'WDFY3',
 'ANKRD35',
 'DNAH7',
 'LAMA3',
 'USP34',
 'BRCA2',
 'ABCB4',
 'ANKHD1',
 'ARHGAP35',
 'XIRP2']

In [281]:
merged_filt = merged1091[merged1091['gene_name'].isin(genes_with_freq_gt)][['clone', 'gene_name']]
merged_filt

      clone gene_name
200       2     MYO3A
214       8      SVIL
215      14      SVIL
287      10    PCDH15
288       7    PCDH15
...     ...       ...
8736      2       DMD
8737     11       DMD
8738      4       DMD
8868     13      ATRX
8869      6      ATRX

[162 rows x 2 columns]

In [282]:
with pd.option_context('display.max_rows', None, 'display.max_columns', None):
    print(merged_filt.value_counts(['gene_name', 'clone']).sort_index(level='gene_name'))

gene_name  clone
ABCA13     2        1
           4        1
           11       1
ABCB4      2        1
ADCY2      7        3
           8        1
AHNAK      7        1
AHNAK2     4        1
AKAP9      2        1
ANK2       5        1
           11       1
           12       1
           14       1
ANKRD35    7        1
ATRX       6        1
           13       1
BCORL1     10       1
BRCA2      3        1
CACNA1A    0        1
           7        1
CACNA1C    7        1
           14       1
CNTNAP5    0        1
           1        2
           3        1
           12       1
COL11A1    4        1
           7        1
COL4A4     12       1
COL6A3     6        1
           13       1
COL6A6     12       1
CSMD1      4        3
           7        9
           14       1
CSMD2      7        1
CSMD3      2        1
           5        2
           7        2
DCC        2        1
           6        1
           7        1
           11       1
DMD        2        4
           4        2
           5        2
           6        1
           7        2
           9        1
           11       1
           13       2
DNAH10     1        1
           11       1
DNAH11     5        1
DNAH3      11       1
DNAH5      7        1
DNAH8      7        1
           14       2
DNAH9      8        1
           11       1
           14       1
DOCK2      5        1
           7        1
DSCAML1    2        1
DST        4        1
           13       1
F8         9        1
FRAS1      13       1
HMCN1      0        1
           2        1
           5        2
           10       1
KMT2C      7        1
LAMA2      1        1
           2        1
LAMA3      4        1
LRP1B      2        2
           9        1
           13       1
           14       1
LRRK2      2        1
MACF1      2        1
MAP2       9        1
MAP3K19    5        1
MED12L     6        1
MUC16      9        1
MYH15      3        1
           5        1
MYO3A      2        1
PCDH15     0        1
           2        2
           7        3
           10       2
           13       1
PKHD1      14       1
PPP1R3A    7        1
PTPRZ1     10       1
           12       1
RIF1       2        2
           4        1
RNF213     0        1
RYR1       2        1
           13       2
RYR2       2        2
           5        1
           11       1
SALL1      11       1
SI         5        1
SVIL       8        1
           14       1
TENM1      2        1
           7        1
           13       1
TENM2      0        1
           5        4
           7        1
TTN        4        1
USH2A      7        2
           13       1
VPS13B     2        1
WDFY3      7        1
XIRP2      14       1
ZFHX4      7        1
ZNF536     7        2
ZSWIM8     12       1
Name: count, dtype: int64