# Simulation Data

In [9]:
import pandas as pd

In [10]:
STR = "n1000_m5_size100_cov0.1_p5_s2"

df_read_counts = pd.read_parquet(f"../data/simulation/ground_truth_pharming/{STR}/sim_read_count.parquet")
df_read_counts

,m0,m1,m2,m3,m4,m5,m6,m7,m8,m9,...,m502,m503,m504,m505,m506,m507,m508,m509,m510,m511
s0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
s1,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
s2,0,0,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
s3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
s4,0,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
s995,0,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
s996,0,0,1,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
s997,1,0,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,2,0
s998,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
s999,0,1,0,1,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0

In [11]:
df_total_long = df_read_counts.reset_index().melt(id_vars='index', var_name='mutation', value_name='total')
df_total_long = df_total_long.rename(columns={'index': 'cell_id'})
df_total_long

       cell_id mutation  total
0           s0       m0      0
1           s1       m0      1
2           s2       m0      0
3           s3       m0      0
4           s4       m0      0
...        ...      ...    ...
511995    s995     m511      0
511996    s996     m511      0
511997    s997     m511      0
511998    s998     m511      0
511999    s999     m511      0

[512000 rows x 3 columns]

In [12]:
df_variant_counts = pd.read_parquet(f"../data/simulation/ground_truth_pharming/{STR}/sim_variant_count.parquet")
df_variant_counts

,m0,m1,m2,m3,m4,m5,m6,m7,m8,m9,...,m502,m503,m504,m505,m506,m507,m508,m509,m510,m511
s0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
s1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
s2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
s3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
s4,0,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
s995,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
s996,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
s997,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
s998,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
s999,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [13]:
df_var_long = df_variant_counts.reset_index().melt(id_vars='index', var_name='mutation', value_name='variant')
df_var_long = df_var_long.rename(columns={'index': 'cell_id'})
df_var_long

       cell_id mutation  variant
0           s0       m0        0
1           s1       m0        0
2           s2       m0        0
3           s3       m0        0
4           s4       m0        0
...        ...      ...      ...
511995    s995     m511        0
511996    s996     m511        0
511997    s997     m511        0
511998    s998     m511        0
511999    s999     m511        0

[512000 rows x 3 columns]

In [14]:
df_long = pd.merge(df_total_long, df_var_long, on=['cell_id', 'mutation'])
df_long

       cell_id mutation  total  variant
0           s0       m0      0        0
1           s1       m0      1        0
2           s2       m0      0        0
3           s3       m0      0        0
4           s4       m0      0        0
...        ...      ...    ...      ...
511995    s995     m511      0        0
511996    s996     m511      0        0
511997    s997     m511      0        0
511998    s998     m511      0        0
511999    s999     m511      0        0

[512000 rows x 4 columns]

In [15]:
df_long = df_long[df_long['total'] != 0]
df_long['cell_id'] = df_long['cell_id'].str[1:].astype(int)
df_long['mutation'] = df_long['mutation'].str[1:].astype(int)

df_long

/localscratch-nvme/188787/ipykernel_3390910/2392763685.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_long['cell_id'] = df_long['cell_id'].str[1:].astype(int)
/localscratch-nvme/188787/ipykernel_3390910/2392763685.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_long['mutation'] = df_long['mutation'].str[1:].astype(int)

        cell_id  mutation  total  variant
1             1         0      1        0
7             7         0      1        1
10           10         0      1        0
16           16         0      1        1
24           24         0      1        0
...         ...       ...    ...      ...
511931      931       511      1        0
511936      936       511      1        0
511969      969       511      1        0
511975      975       511      1        0
511979      979       511      1        0

[48966 rows x 4 columns]

In [16]:
df_mut_bin = pd.read_parquet(f"../data/simulation/ground_truth_pharming/{STR}/sim_mutation_to_bin_mapping.parquet")
df_mut_bin.index.name = "mutation"

df_mut_bin

          bin
mutation
0           3
1          13
2          18
3          19
4          17
...       ...
507         9
508         6
509         0
510        23
511         6

[512 rows x 1 columns]

In [17]:
import numpy as np

In [18]:
df_mut_bin_unq = df_mut_bin.drop_duplicates(subset=["bin"], keep="first")
df_mut_bin_unq

          bin
mutation
0           3
1          13
2          18
3          19
4          17
5          23
7          10
8          21
9           7
10         12
11         14
14         20
15          6
17          4
18          8
21         15
24          1
27          2
28         24
31         11
32         22
37         16
38          5
55          0
84          9

In [19]:
df_mut_bin_unq['bin_id'] = np.arange(len(df_mut_bin_unq))
df_mut_bin_unq

/localscratch-nvme/188787/ipykernel_3390910/3230863571.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_mut_bin_unq['bin_id'] = np.arange(len(df_mut_bin_unq))

          bin  bin_id
mutation
0           3       0
1          13       1
2          18       2
3          19       3
4          17       4
5          23       5
7          10       6
8          21       7
9           7       8
10         12       9
11         14      10
14         20      11
15          6      12
17          4      13
18          8      14
21         15      15
24          1      16
27          2      17
28         24      18
31         11      19
32         22      20
37         16      21
38          5      22
55          0      23
84          9      24

In [20]:
df_mut_bin = pd.merge(df_mut_bin, df_mut_bin_unq, on='bin', how='left')
df_mut_bin.index.name = "mutation"
df_mut_bin

          bin  bin_id
mutation
0           3       0
1          13       1
2          18       2
3          19       3
4          17       4
...       ...     ...
507         9      24
508         6      12
509         0      23
510        23       5
511         6      12

[512 rows x 2 columns]

In [21]:
df_long = pd.merge(df_long, df_mut_bin, on="mutation", how='left')
df_long

       cell_id  mutation  total  variant  bin  bin_id
0            1         0      1        0    3       0
1            7         0      1        1    3       0
2           10         0      1        0    3       0
3           16         0      1        1    3       0
4           24         0      1        0    3       0
...        ...       ...    ...      ...  ...     ...
48961      931       511      1        0    6      12
48962      936       511      1        0    6      12
48963      969       511      1        0    6      12
48964      975       511      1        0    6      12
48965      979       511      1        0    6      12

[48966 rows x 6 columns]

In [22]:
import os

os.makedirs(f"../data/simulation/pharming_input/{STR}", exist_ok=True)

In [23]:
pharming_read_counts = pd.DataFrame({
    'segment': df_long['bin_id'],
    'mutation': df_long['mutation'],
    'cell': df_long['cell_id'],
    'varReads': df_long['variant'],
    'totReads': df_long['total'],
})
pharming_read_counts.to_csv(f"../data/simulation/pharming_input/{STR}/read_counts.tsv", index=False, sep='\t')
pharming_read_counts

       segment  mutation  cell  varReads  totReads
0            0         0     1         0         1
1            0         0     7         1         1
2            0         0    10         0         1
3            0         0    16         1         1
4            0         0    24         0         1
...        ...       ...   ...       ...       ...
48961       12       511   931         0         1
48962       12       511   936         0         1
48963       12       511   969         0         1
48964       12       511   975         0         1
48965       12       511   979         0         1

[48966 rows x 5 columns]

In [28]:
df_copy_numbers_bins = pd.read_parquet(f"../data/simulation/ground_truth_pharming/{STR}/sim_copy_numbers_of_segments.parquet")
df_copy_numbers_bins

   0  1  2  3  4  5  6  7  8  9  ...  15  16  17  18  19  20  21  22  23  24
0  3  1  2  2  1  5  3  3  4  3  ...   2   3   3   1   4   5   2   4   2   1
1  3  1  2  1  2  3  5  3  5  4  ...   5   1   3   4   5   1   3   5   2   3
2  5  5  1  1  1  1  5  2  4  2  ...   2   4   4   4   4   3   1   3   4   5
3  1  2  5  3  4  5  3  1  5  3  ...   1   1   2   2   5   3   3   4   1   3
4  1  2  1  3  2  1  3  4  5  3  ...   3   2   1   1   3   5   4   4   3   1

[5 rows x 25 columns]

In [33]:
df_copy_numbers = pd.read_parquet(f"../data/simulation/ground_truth_pharming/{STR}/sim_copy_numbers.parquet")
df_copy_numbers.index = df_copy_numbers.index.str[1:].astype(int)
df_copy_numbers.columns = df_copy_numbers.columns.str[1:].astype(int)
df_copy_numbers

,0,1,2,3,4,5,6,7,8,9,...,502,503,504,505,506,507,508,509,510,511
0,3,4,1,3,1,3,3,3,4,4,...,5,2,5,3,1,3,3,1,3,3
1,3,4,1,3,1,3,3,3,4,4,...,5,2,5,3,1,3,3,1,3,3
2,2,3,1,4,3,2,4,5,2,3,...,4,1,5,4,3,3,3,3,2,3
3,1,1,4,5,3,2,5,2,3,3,...,5,1,1,5,3,4,5,3,2,5
4,3,4,1,3,1,3,3,3,4,4,...,5,2,5,3,1,3,3,1,3,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,1,1,4,5,3,2,5,2,3,3,...,5,1,1,5,3,4,5,3,2,5
996,2,3,1,4,3,2,4,5,2,3,...,4,1,5,4,3,3,3,3,2,3
997,1,1,4,4,4,4,4,5,1,2,...,4,5,3,4,4,2,5,5,4,5
998,3,5,2,5,2,1,5,3,3,1,...,5,2,3,5,2,3,3,1,1,3
999,3,4,1,3,1,3,3,3,4,4,...,5,2,5,3,1,3,3,1,3,3

In [30]:
# df_copy_numbers = df_copy_numbers.loc[:, df_mut_bin_unq.index]
# df_copy_numbers

In [34]:
df_copy_numbers_bins = df_copy_numbers.reset_index().melt(id_vars='index', var_name='mutation', value_name='copy')
df_copy_numbers_long.rename(columns={'index': 'cell'}, inplace=True)
df_copy_numbers_long

       cell mutation  copy
0         0        0     3
1         1        0     3
2         2        0     2
3         3        0     1
4         4        0     3
...     ...      ...   ...
24995   995       84     4
24996   996       84     3
24997   997       84     2
24998   998       84     3
24999   999       84     3

[25000 rows x 3 columns]

In [35]:
# df_copy_numbers_long_cn = pd.merge(df_copy_numbers_long, df_mut_bin_unq, on='mutation', how='left')
# df_copy_numbers_long_cn

In [38]:
pharming_copy_numbers = pd.DataFrame({
    'segment': df_copy_numbers_long_cn['bin'],
    'cell': df_copy_numbers_long_cn['cell'],
    'copiesX': df_copy_numbers_long_cn['copy'],
    'copiesY': df_copy_numbers_long_cn['copy'],
    # 'copiesY': [0] * len(df_copy_numbers_long_cn),
})
pharming_copy_numbers.to_csv(f"../data/simulation/pharming_input/{STR}/copy_numbers.csv", index=False)
pharming_copy_numbers

       segment  cell  copiesX  copiesY
0            3     0        3        3
1            3     1        3        3
2            3     2        2        2
3            3     3        1        1
4            3     4        3        3
...        ...   ...      ...      ...
24995        9   995        4        4
24996        9   996        3        3
24997        9   997        2        2
24998        9   998        3        3
24999        9   999        3        3

[25000 rows x 4 columns]

In [37]:
pharming_copy_numbers.isna().any().any()

np.False_

In [ ]:
# unique_segments = df_mut_bin_unq['bin_id'].unique()
# unique_segments = sorted(unique_segments)

# with open(f"../data/simulation/pharming_input/{STR}/segments.txt", "w") as f:
#     for seg in unique_segments:
#         f.write(f"{seg}\n")

# print("✅ Saved unique segment IDs to segments.txt")

✅ Saved unique segment IDs to segments.txt