# Simulation Data

In [1]:
import pandas as pd

In [4]:
STR = "n1000_m5_size100_cov0.1_p5_s0"

df_read_counts = pd.read_parquet(f"../data/simulation/ground_truth/{STR}/sim_read_count.parquet")
df_read_counts

,m0,m1,m2,m3,m4,m5,m6,m7,m8,m9,...,m451,m452,m453,m454,m455,m456,m457,m458,m459,m460
s0,0,0,0,0,1,1,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
s1,0,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
s2,0,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,1,0,0,0
s3,0,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
s4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
s995,1,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
s996,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
s997,0,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,1,1,0,0
s998,0,0,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,1
s999,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [5]:
df_total_long = df_read_counts.reset_index().melt(id_vars='index', var_name='mutation', value_name='total')
df_total_long = df_total_long.rename(columns={'index': 'cell_id'})
df_total_long

       cell_id mutation  total
0           s0       m0      0
1           s1       m0      0
2           s2       m0      0
3           s3       m0      0
4           s4       m0      0
...        ...      ...    ...
460995    s995     m460      0
460996    s996     m460      0
460997    s997     m460      0
460998    s998     m460      1
460999    s999     m460      0

[461000 rows x 3 columns]

In [19]:
df_variant_counts = pd.read_parquet(f"../data/simulation/ground_truth/{STR}/sim_variant_count.parquet")
df_variant_counts

,m0,m1,m2,m3,m4,m5,m6,m7,m8,m9,...,m451,m452,m453,m454,m455,m456,m457,m458,m459,m460
s0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
s1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
s2,0,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
s3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
s4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
s995,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
s996,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
s997,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
s998,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
s999,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [20]:
df_var_long = df_variant_counts.reset_index().melt(id_vars='index', var_name='mutation', value_name='variant')
df_var_long = df_var_long.rename(columns={'index': 'cell_id'})
df_var_long

       cell_id mutation  variant
0           s0       m0        0
1           s1       m0        0
2           s2       m0        0
3           s3       m0        0
4           s4       m0        0
...        ...      ...      ...
460995    s995     m460        0
460996    s996     m460        0
460997    s997     m460        0
460998    s998     m460        0
460999    s999     m460        0

[461000 rows x 3 columns]

In [34]:
df_long = pd.merge(df_total_long, df_var_long, on=['cell_id', 'mutation'])
df_long

       cell_id mutation  total  variant
0           s0       m0      0        0
1           s1       m0      0        0
2           s2       m0      0        0
3           s3       m0      0        0
4           s4       m0      0        0
...        ...      ...    ...      ...
460995    s995     m460      0        0
460996    s996     m460      0        0
460997    s997     m460      0        0
460998    s998     m460      1        0
460999    s999     m460      0        0

[461000 rows x 4 columns]

In [35]:
df_long = df_long[df_long['total'] != 0]
df_long['cell_id'] = df_long['cell_id'].str[1:].astype(int)
df_long['mutation'] = df_long['mutation'].str[1:].astype(int)

df_long

/localscratch-nvme/187647/ipykernel_3356236/2392763685.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_long['cell_id'] = df_long['cell_id'].str[1:].astype(int)
/localscratch-nvme/187647/ipykernel_3356236/2392763685.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_long['mutation'] = df_long['mutation'].str[1:].astype(int)

        cell_id  mutation  total  variant
6             6         0      1        0
31           31         0      1        0
41           41         0      1        0
43           43         0      1        0
52           52         0      1        0
...         ...       ...    ...      ...
460945      945       460      1        1
460959      959       460      1        0
460982      982       460      1        0
460986      986       460      1        1
460998      998       460      1        0

[43984 rows x 4 columns]

In [111]:
df_mut_bin = pd.read_parquet(f"../data/simulation/ground_truth/{STR}/sim_mutation_to_bin_mapping.parquet")
df_mut_bin.index.name = "mutation"

df_mut_bin

          bin
mutation
0         676
1         271
2         677
3         118
4         870
...       ...
456       766
457       732
458       607
459       139
460       153

[461 rows x 1 columns]

In [112]:
import numpy as np

In [113]:
df_mut_bin_unq = df_mut_bin.drop_duplicates(subset=["bin"], keep="first")
df_mut_bin_unq

          bin
mutation
0         676
1         271
2         677
3         118
4         870
...       ...
453       943
455       507
457       732
458       607
460       153

[368 rows x 1 columns]

In [114]:
df_mut_bin_unq['bin_id'] = np.arange(len(df_mut_bin_unq))
df_mut_bin_unq

/localscratch-nvme/187647/ipykernel_3356236/3230863571.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_mut_bin_unq['bin_id'] = np.arange(len(df_mut_bin_unq))

          bin  bin_id
mutation
0         676       0
1         271       1
2         677       2
3         118       3
4         870       4
...       ...     ...
453       943     363
455       507     364
457       732     365
458       607     366
460       153     367

[368 rows x 2 columns]

In [115]:
df_mut_bin = pd.merge(df_mut_bin, df_mut_bin_unq, on='bin', how='left')
df_mut_bin.index.name = "mutation"
df_mut_bin

          bin  bin_id
mutation
0         676       0
1         271       1
2         677       2
3         118       3
4         870       4
...       ...     ...
456       766     199
457       732     365
458       607     366
459       139      58
460       153     367

[461 rows x 2 columns]

In [116]:
df_long = pd.merge(df_long, df_mut_bin, on="mutation", how='left')
df_long

       cell_id  mutation  total  variant  bin_x  bin_y  bin_id
0            6         0      1        0    676    676       0
1           31         0      1        0    676    676       0
2           41         0      1        0    676    676       0
3           43         0      1        0    676    676       0
4           52         0      1        0    676    676       0
...        ...       ...    ...      ...    ...    ...     ...
43979      945       460      1        1    153    153     367
43980      959       460      1        0    153    153     367
43981      982       460      1        0    153    153     367
43982      986       460      1        1    153    153     367
43983      998       460      1        0    153    153     367

[43984 rows x 7 columns]

In [40]:
import os

os.makedirs(f"../data/simulation/pharming_input/{STR}", exist_ok=True)

In [117]:
pharming_read_counts = pd.DataFrame({
    'segment': df_long['bin_id'],
    'mutation': df_long['mutation'],
    'cell': df_long['cell_id'],
    'varReads': df_long['variant'],
    'totReads': df_long['total'],
})
pharming_read_counts.to_csv(f"../data/simulation/pharming_input/{STR}/read_counts.tsv", index=False, sep='\t')
pharming_read_counts

       segment  mutation  cell  varReads  totReads
0            0         0     6         0         1
1            0         0    31         0         1
2            0         0    41         0         1
3            0         0    43         0         1
4            0         0    52         0         1
...        ...       ...   ...       ...       ...
43979      367       460   945         1         1
43980      367       460   959         0         1
43981      367       460   982         0         1
43982      367       460   986         1         1
43983      367       460   998         0         1

[43984 rows x 5 columns]

In [119]:
df_copy_numbers = pd.read_parquet(f"../data/simulation/ground_truth/{STR}/sim_copy_numbers.parquet")
df_copy_numbers.index = df_copy_numbers.index.str[1:].astype(int)
df_copy_numbers.columns = df_copy_numbers.columns.str[1:].astype(int)
df_copy_numbers

,0,1,2,3,4,5,6,7,8,9,...,451,452,453,454,455,456,457,458,459,460
0,1,4,2,5,5,3,1,1,1,5,...,3,4,4,4,5,4,2,4,2,5
1,3,1,1,4,2,1,1,1,2,4,...,2,4,4,2,4,5,2,5,4,2
2,1,4,2,5,5,3,1,1,1,5,...,3,4,4,4,5,4,2,4,2,5
3,1,4,2,5,5,3,1,1,1,5,...,3,4,4,4,5,4,2,4,2,5
4,1,4,2,5,5,3,1,1,1,5,...,3,4,4,4,5,4,2,4,2,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,1,4,2,5,5,3,1,1,1,5,...,3,4,4,4,5,4,2,4,2,5
996,5,3,5,1,2,5,4,5,4,3,...,3,4,5,1,2,5,5,2,5,2
997,1,4,2,5,5,3,1,1,1,5,...,3,4,4,4,5,4,2,4,2,5
998,4,3,1,1,2,5,1,1,3,2,...,3,3,1,5,3,5,1,2,4,3
999,3,1,5,1,5,2,2,2,1,3,...,1,5,2,2,4,3,4,5,5,2

In [120]:
df_copy_numbers = df_copy_numbers.loc[:, df_mut_bin_unq.index]
df_copy_numbers

mutation,0,1,2,3,4,5,6,7,8,9,...,444,445,446,451,452,453,455,457,458,460
0,1,4,2,5,5,3,1,1,1,5,...,2,2,3,3,4,4,5,2,4,5
1,3,1,1,4,2,1,1,1,2,4,...,4,3,5,2,4,4,4,2,5,2
2,1,4,2,5,5,3,1,1,1,5,...,2,2,3,3,4,4,5,2,4,5
3,1,4,2,5,5,3,1,1,1,5,...,2,2,3,3,4,4,5,2,4,5
4,1,4,2,5,5,3,1,1,1,5,...,2,2,3,3,4,4,5,2,4,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,1,4,2,5,5,3,1,1,1,5,...,2,2,3,3,4,4,5,2,4,5
996,5,3,5,1,2,5,4,5,4,3,...,3,2,2,3,4,5,2,5,2,2
997,1,4,2,5,5,3,1,1,1,5,...,2,2,3,3,4,4,5,2,4,5
998,4,3,1,1,2,5,1,1,3,2,...,5,5,3,3,3,1,3,1,2,3
999,3,1,5,1,5,2,2,2,1,3,...,2,5,2,1,5,2,4,4,5,2

In [121]:
df_copy_numbers_long = df_copy_numbers.reset_index().melt(id_vars='index', var_name='mutation', value_name='copy')
df_copy_numbers_long.rename(columns={'index': 'cell'}, inplace=True)
df_copy_numbers_long

        cell mutation  copy
0          0        0     1
1          1        0     3
2          2        0     1
3          3        0     1
4          4        0     1
...      ...      ...   ...
367995   995      460     5
367996   996      460     2
367997   997      460     5
367998   998      460     3
367999   999      460     2

[368000 rows x 3 columns]

In [122]:
df_copy_numbers_long_cn = pd.merge(df_copy_numbers_long, df_mut_bin_unq, on='mutation', how='left')
df_copy_numbers_long_cn

        cell mutation  copy  bin  bin_id
0          0        0     1  676       0
1          1        0     3  676       0
2          2        0     1  676       0
3          3        0     1  676       0
4          4        0     1  676       0
...      ...      ...   ...  ...     ...
367995   995      460     5  153     367
367996   996      460     2  153     367
367997   997      460     5  153     367
367998   998      460     3  153     367
367999   999      460     2  153     367

[368000 rows x 5 columns]

In [123]:
pharming_copy_numbers = pd.DataFrame({
    'segment': df_copy_numbers_long_cn['bin_id'],
    'cell': df_copy_numbers_long_cn['cell'],
    'copiesX': df_copy_numbers_long_cn['copy'],
    'copiesY': [0] * len(df_copy_numbers_long_cn),
})
pharming_copy_numbers.to_csv(f"../data/simulation/pharming_input/{STR}/copy_numbers.csv", index=False)
pharming_copy_numbers

        segment  cell  copiesX  copiesY
0             0     0        1        0
1             0     1        3        0
2             0     2        1        0
3             0     3        1        0
4             0     4        1        0
...         ...   ...      ...      ...
367995      367   995        5        0
367996      367   996        2        0
367997      367   997        5        0
367998      367   998        3        0
367999      367   999        2        0

[368000 rows x 4 columns]

In [71]:
pharming_copy_numbers.isna().any().any()

np.False_

In [124]:
unique_segments = df_mut_bin_unq['bin_id'].unique()
unique_segments = sorted(unique_segments)

with open(f"../data/simulation/pharming_input/{STR}/segments.txt", "w") as f:
    for seg in unique_segments:
        f.write(f"{seg}\n")

print("✅ Saved unique segment IDs to segments.txt")

✅ Saved unique segment IDs to segments.txt