# Simulation Data

In [1]:
import pandas as pd

In [3]:
df_read_counts = pd.read_csv("../data/simulation/sim_read_count.csv", index_col=0)
df_read_counts

,c0,c1,c2,c3,c4,c5,c6,c7,c8,c9,...,c1490,c1491,c1492,c1493,c1494,c1495,c1496,c1497,c1498,c1499
s0,0,2,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,1,0,0,0
s1,0,0,0,1,0,0,0,1,0,1,...,0,0,0,0,2,0,0,0,0,1
s2,0,0,1,0,0,1,0,0,1,0,...,0,0,1,0,0,2,0,0,0,0
s3,0,0,0,0,0,0,1,1,0,0,...,0,1,0,0,0,0,0,0,1,0
s4,0,0,0,1,1,0,2,0,0,1,...,0,1,0,0,0,0,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
s995,0,0,0,1,0,0,0,1,0,1,...,0,0,0,0,0,1,0,0,0,0
s996,0,1,0,0,0,0,0,0,0,0,...,0,1,0,0,0,1,0,0,0,0
s997,0,0,1,0,0,1,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
s998,0,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,1,0
s999,0,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,1,0,0,0

In [9]:
df_total_long = df_read_counts.reset_index().melt(id_vars='index', var_name='mutation', value_name='total')
df_total_long = df_total_long.rename(columns={'index': 'cell_id'})
df_total_long

        cell_id mutation  total
0            s0       c0      0
1            s1       c0      0
2            s2       c0      0
3            s3       c0      0
4            s4       c0      0
...         ...      ...    ...
1499995    s995    c1499      0
1499996    s996    c1499      0
1499997    s997    c1499      0
1499998    s998    c1499      0
1499999    s999    c1499      0

[1500000 rows x 3 columns]

In [4]:
df_variant_counts = pd.read_csv("../data/simulation/sim_variant_count.csv", index_col=0)
df_variant_counts

,c0,c1,c2,c3,c4,c5,c6,c7,c8,c9,...,c1490,c1491,c1492,c1493,c1494,c1495,c1496,c1497,c1498,c1499
s0,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
s1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
s2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
s3,0,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
s4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
s995,0,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
s996,0,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
s997,0,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
s998,0,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
s999,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [7]:
df_var_long = df_variant_counts.reset_index().melt(id_vars='index', var_name='mutation', value_name='variant')
df_var_long = df_var_long.rename(columns={'index': 'cell_id'})
df_var_long

        cell_id mutation  variant
0            s0       c0        0
1            s1       c0        0
2            s2       c0        0
3            s3       c0        0
4            s4       c0        0
...         ...      ...      ...
1499995    s995    c1499        0
1499996    s996    c1499        0
1499997    s997    c1499        0
1499998    s998    c1499        0
1499999    s999    c1499        0

[1500000 rows x 3 columns]

In [10]:
df_long = pd.merge(df_total_long, df_var_long, on=['cell_id', 'mutation'])
df_long

        cell_id mutation  total  variant
0            s0       c0      0        0
1            s1       c0      0        0
2            s2       c0      0        0
3            s3       c0      0        0
4            s4       c0      0        0
...         ...      ...    ...      ...
1499995    s995    c1499      0        0
1499996    s996    c1499      0        0
1499997    s997    c1499      0        0
1499998    s998    c1499      0        0
1499999    s999    c1499      0        0

[1500000 rows x 4 columns]

In [12]:
df_long = df_long[df_long['total'] != 0]
df_long

        cell_id mutation  total  variant
6            s6       c0      2        0
13          s13       c0      1        1
15          s15       c0      1        1
25          s25       c0      1        1
26          s26       c0      2        0
...         ...      ...    ...      ...
1499964    s964    c1499      1        0
1499966    s966    c1499      1        0
1499968    s968    c1499      1        0
1499984    s984    c1499      1        0
1499985    s985    c1499      1        0

[272050 rows x 4 columns]

In [21]:
phertilizer_snv_counts = pd.DataFrame({
    'chr': ['X'] * df_long.shape[0],
    'mutation': df_long['mutation'],
    'cell_id': df_long['cell_id'],
    'alternate': ['X'] * df_long.shape[0],
    'var_count': df_long['variant'],
    'total_count': df_long['total']
})
phertilizer_snv_counts.to_csv("../data/simulation/sim_phertilizer_snv_counts.tsv", index=False, header=False, sep='\t')
phertilizer_snv_counts

       chr mutation cell_id alternate  var_count  total_count
0        X       c0      s6         X          0            2
1        X       c0     s13         X          1            1
2        X       c0     s15         X          1            1
3        X       c0     s25         X          1            1
4        X       c0     s26         X          0            2
...     ..      ...     ...       ...        ...          ...
272045   X    c1499    s964         X          0            1
272046   X    c1499    s966         X          0            1
272047   X    c1499    s968         X          0            1
272048   X    c1499    s984         X          0            1
272049   X    c1499    s985         X          0            1

[272050 rows x 6 columns]

In [17]:
df_mut_bin = pd.read_csv("/Users/samin/workspace/scWGS-Tumor-Phylogeny/data/simulation/sim_mutation_to_bin_mapping.csv", index_col=0)
df_mut_bin["mutation"] = "c" + df_mut_bin.index.astype(str)
df_mut_bin

       bin mutation
0     5077       c0
1     1986       c1
2     4878       c2
3     1287       c3
4     1435       c4
...    ...      ...
1495  1490    c1495
1496  5231    c1496
1497  2427    c1497
1498   150    c1498
1499  4904    c1499

[1500 rows x 2 columns]

In [18]:
df_long = pd.merge(df_long, df_mut_bin, on="mutation", how='left')
df_long

       cell_id mutation  total  variant   bin
0           s6       c0      2        0  5077
1          s13       c0      1        1  5077
2          s15       c0      1        1  5077
3          s25       c0      1        1  5077
4          s26       c0      2        0  5077
...        ...      ...    ...      ...   ...
272045    s964    c1499      1        0  4904
272046    s966    c1499      1        0  4904
272047    s968    c1499      1        0  4904
272048    s984    c1499      1        0  4904
272049    s985    c1499      1        0  4904

[272050 rows x 5 columns]

In [25]:
df_binned_counts = df_long.rename(columns={"cell_id": "cell"}).pivot_table(index='cell', columns='bin', values='total', fill_value=0).astype(int)
df_binned_counts.to_csv("../data/simulation/sim_binned_read_counts.csv")
df_binned_counts

bin,3,5,6,13,15,26,27,34,36,49,...,5942,5943,5949,5967,5969,5975,5978,5980,5982,5988
cell,,,,,,,,,,,,,,,,,,,,,
s0,0,0,1,0,0,0,0,0,0,0,...,1,0,1,0,0,0,0,0,0,2
s1,1,2,0,1,0,0,0,0,1,0,...,2,0,0,0,0,0,0,0,0,0
s10,0,0,0,0,0,0,1,0,0,0,...,0,0,0,3,0,0,0,0,0,0
s100,0,0,0,0,0,0,0,0,0,0,...,0,2,1,0,0,0,0,0,0,0
s101,1,1,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
s995,1,1,0,0,0,0,0,0,0,0,...,1,1,1,1,0,0,0,0,0,0
s996,0,0,0,0,0,0,0,0,2,0,...,0,1,0,1,0,1,1,0,1,0
s997,1,0,1,0,0,0,0,0,1,0,...,0,0,1,0,0,0,1,0,0,0
s998,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,1,0,0,1
s999,0,0,0,1,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0