In [1]:
import pandas as pd
import os

In [2]:
df = pd.read_csv("../data/williams/signatures_dataset/DLP/SNV/snv_counts.csv.gz", low_memory=False)
df

,chr,start,ref,alt,cell_id,patient,endy,state,copy,state_AS_phased,...,alt_counts,sample_id,library_id,total_counts,isabl_patient_id,isabl_sample_id,isabl_aliquot_id,i.isabl_patient_id,i.isabl_sample_id,i.isabl_aliquot_id
0,1,2901334,A,T,SA604X6XB01972-A96177C-R55-C31,SA604,2901334,4,NaN,4|0,...,0,SA604X6XB01972,A96177C,1,NaN,NaN,NaN,NaN,NaN,NaN
1,1,4724917,C,G,SA604X6XB01972-A96177C-R55-C31,SA604,4724917,4,4.094850,4|0,...,0,SA604X6XB01972,A96177C,1,NaN,NaN,NaN,NaN,NaN,NaN
2,1,5404076,A,T,SA604X6XB01972-A96177C-R55-C31,SA604,5404076,4,4.663459,4|0,...,1,SA604X6XB01972,A96177C,1,NaN,NaN,NaN,NaN,NaN,NaN
3,1,6303195,T,G,SA604X6XB01972-A96177C-R55-C31,SA604,6303195,4,3.953550,4|0,...,2,SA604X6XB01972,A96177C,2,NaN,NaN,NaN,NaN,NaN,NaN
4,1,11585442,G,T,SA604X6XB01972-A96177C-R55-C31,SA604,11585442,4,3.979188,4|0,...,0,SA604X6XB01972,A96177C,2,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
31385546,6,54625196,T,C,AT135-A118389B-R65-C67,SA1292,54625196,2,1.651758,1|1,...,1,SA1292X20,A118389B,1,184-hTERT,SA1292X20,184-hTERT_SA1292X20_A118389B_L2,184-hTERT,SA1292X20,184-hTERT_SA1292X20_A118389B_L2
31385547,6,70850297,T,G,AT135-A118389B-R65-C67,SA1292,70850297,2,2.353611,1|1,...,1,SA1292X20,A118389B,1,184-hTERT,SA1292X20,184-hTERT_SA1292X20_A118389B_L2,184-hTERT,SA1292X20,184-hTERT_SA1292X20_A118389B_L2
31385548,8,92983198,G,T,AT135-A118389B-R65-C67,SA1292,92983198,1,1.406141,0|1,...,1,SA1292X20,A118389B,1,184-hTERT,SA1292X20,184-hTERT_SA1292X20_A118389B_L2,184-hTERT,SA1292X20,184-hTERT_SA1292X20_A118389B_L2
31385549,X,85749714,T,A,AT135-A118389B-R65-C67,SA1292,85749714,2,1.866568,1|1,...,1,SA1292X20,A118389B,1,184-hTERT,SA1292X20,184-hTERT_SA1292X20_A118389B_L2,184-hTERT,SA1292X20,184-hTERT_SA1292X20_A118389B_L2
31385550,X,90663519,C,A,AT135-A118389B-R65-C67,SA1292,90663519,2,1.305363,1|1,...,0,SA1292X20,A118389B,1,184-hTERT,SA1292X20,184-hTERT_SA1292X20_A118389B_L2,184-hTERT,SA1292X20,184-hTERT_SA1292X20_A118389B_L2

In [3]:
df.columns

Index(['chr', 'start', 'ref', 'alt', 'cell_id', 'patient', 'endy', 'state',
       'copy', 'state_AS_phased', 'alleleA', 'alleleB', 'totalcounts', 'BAF',
       'state_min', 'Maj', 'Min', 'LOH', 'phase', 'state_phase', 'state_BAF',
       'ref_counts', 'alt_counts', 'sample_id', 'library_id', 'total_counts',
       'isabl_patient_id', 'isabl_sample_id', 'isabl_aliquot_id',
       'i.isabl_patient_id', 'i.isabl_sample_id', 'i.isabl_aliquot_id'],
      dtype='object')

In [25]:
patient_ids = df['patient'].unique().tolist()
patient_ids

['SA604',
 'SA609',
 'OV2295',
 'DG1134',
 'DG1197',
 'SA501',
 'SA530',
 'SA1182',
 'SA1184',
 'SA1142',
 'SA1162',
 'SA1180',
 'SA1091',
 'SA1093',
 'SA1096',
 'SA1035',
 'SA1047',
 'SA1049',
 'SA1050',
 'SA1051',
 'SA1052',
 'SA1053',
 'SA535',
 'SA610',
 'SA605',
 'SA1181',
 'SA1135',
 'SA039',
 'SA906a',
 'SA906b',
 'SA1054',
 'SA1055',
 'SA1056',
 'SA1188',
 'SA1292']

In [5]:
df_cn_clones = pd.read_csv("../data/williams/signatures_dataset/DLP/CNA/hscn_clones.csv.gz")
df_cn_clones

,patient,clone_id,chr,start,end,state,copy,Min,Maj,alleleA,alleleB,totalcounts,BAF,state_AS_phased,state_AS,state_min,LOH,phase,state_phase,state_BAF
0,SA604,N,1,1,500000.0,4,NaN,0,4,0,0,0,NaN,4|0,4|0,0,LOH,A,A-Hom,0.0
1,SA604,N,1,500001,1000000.0,4,NaN,0,4,0,0,0,NaN,4|0,4|0,0,LOH,A,A-Hom,0.0
2,SA604,N,1,1000001,1500000.0,4,3.291465,0,4,0,0,0,NaN,4|0,4|0,0,LOH,A,A-Hom,0.0
3,SA604,N,1,1500001,2000000.0,4,3.182206,0,4,0,0,0,NaN,4|0,4|0,0,LOH,A,A-Hom,0.0
4,SA604,N,1,2000001,2500000.0,4,3.687108,0,4,10484,37,10521,0.0,4|0,4|0,0,LOH,A,A-Hom,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1661746,SA1292,C,X,153000001,153500000.0,2,1.756041,1,1,0,0,0,NaN,1|1,1|1,1,NO,Balanced,Balanced,0.5
1661747,SA1292,C,X,153500001,154000000.0,2,1.569689,1,1,0,0,0,NaN,1|1,1|1,1,NO,Balanced,Balanced,0.5
1661748,SA1292,C,X,154000001,154500000.0,2,2.151393,1,1,0,0,0,NaN,1|1,1|1,1,NO,Balanced,Balanced,0.5
1661749,SA1292,C,X,154500001,155000000.0,2,1.475498,1,1,0,0,0,NaN,1|1,1|1,1,NO,Balanced,Balanced,0.5
1661750,SA1292,C,X,155000001,155500000.0,2,NaN,1,1,0,0,0,NaN,1|1,1|1,1,NO,Balanced,Balanced,0.5

In [61]:
import os

path = "../data/williams/scratch"

folders = [
    name for name in os.listdir(path)
    if os.path.isdir(os.path.join(path, name))
]

print(folders)
len(folders)

['SA1050', 'SA1035', 'SA906b', 'SA1093', 'SA1056', 'SA1051', 'SA530', 'SA501', 'SA1184', 'SA1182', 'DG1134', 'SA609', 'SA1162', 'SA535', 'SA1292', 'SA1054', 'SA1053', 'SA1091', 'SA1096', 'SA906a', 'SA1052', 'SA1055', 'SA1142', 'SA1180', 'SA610', 'SA1181', 'SA1188', 'DG1197', 'SA039', 'SA604', 'SA1135', 'OV2295', 'SA605', 'SA1047', 'SA1049']

35

In [63]:
import os

folders_not_with_scope = [
    folder for folder in folders
    if not os.path.isdir(os.path.join(f"../data/williams/scratch/{folder}", "scope_mut"))
]

folders_with_scope = [
    folder for folder in folders
    if os.path.isdir(os.path.join(f"../data/williams/scratch/{folder}", "scope_mut"))
]


print(folders_not_with_scope)
print(len(folders_with_scope))
print(len(folders_not_with_scope))

['SA906a', 'SA1052', 'SA1055', 'SA1142', 'SA1180', 'SA610', 'SA1181', 'SA1188', 'DG1197', 'SA039', 'SA604', 'SA1135', 'OV2295', 'SA605', 'SA1047', 'SA1049']
19
16

# Show Results

In [64]:
SCRATCH_PATH = "../data/williams/scratch"

In [65]:
import re

num_solutions = []
solution_counts = []
num_mutations_selected = []
errors = []

for patient_id in patient_ids:
    if os.path.exists(f"{SCRATCH_PATH}/{patient_id}") and os.path.exists(f"{SCRATCH_PATH}/{patient_id}/scope_mut"):
        base_dir = f"{SCRATCH_PATH}/{patient_id}/scope_mut"
        solution_count = sum(
            1 for name in os.listdir(base_dir)
            if name.startswith("solution") and os.path.isdir(os.path.join(base_dir, name))
        )
        solution_counts.append(solution_count)

        summary_filepath = f"{SCRATCH_PATH}/{patient_id}/scope_mut/summary.txt"
        if os.path.exists(summary_filepath):

            with open(summary_filepath, "r") as f:
                content = f.read()

            match = re.search(r"#UNIQUE SOLUTIONS:\s*(\d+)\s*WITH VALUE\s*([\d\.]+)\s*(.*)", content)

            if match:
                num_solutions = int(match.group(1))
                value = float(match.group(2))
                error = match.group(3).strip()  # Keep text as-is
                print(f"{patient_id} num_solutions={num_solutions}, value={value}, error='{error}'")
                num_mutations_selected.append(int(value))
                errors.append(error)
            else:
                print("No matching line found.")
                num_mutations_selected.append(0)
                errors.append("")
        else: 
            num_mutations_selected.append(0)
            errors.append("")

    else: 
        solution_counts.append(0)
        num_mutations_selected.append(0)
        errors.append("")
    

solution_count_df = pd.DataFrame({'patient': patient_ids, 'solution_count': solution_counts, 'num_mutations_selected': num_mutations_selected, 'status': errors})
solution_count_df

SA609 num_solutions=21, value=37237.0, error='(TIME LIMIT) 9'
DG1134 num_solutions=1, value=11269.0, error='2'
SA501 num_solutions=16, value=15549.0, error='(TIME LIMIT) 9'
SA530 num_solutions=1, value=9408.0, error='(TIME LIMIT) 9'
SA1182 num_solutions=37, value=3446.0, error='(TIME LIMIT) 9'
SA1184 num_solutions=1, value=4067.0, error='(TIME LIMIT) 9'
SA1162 num_solutions=1, value=13132.0, error='2'
SA1091 num_solutions=6, value=5943.0, error='(TIME LIMIT) 9'
SA1093 num_solutions=1, value=9674.0, error='(TIME LIMIT) 9'
SA1096 num_solutions=50, value=13178.0, error='2'
SA1035 num_solutions=50, value=34379.0, error='2'
SA1050 num_solutions=11, value=16860.0, error='(TIME LIMIT) 9'
SA1051 num_solutions=1, value=25887.0, error='(TIME LIMIT) 9'
SA1053 num_solutions=15, value=18462.0, error='2'
SA535 num_solutions=3, value=18469.0, error='2'
SA906b num_solutions=46, value=22044.0, error='2'
SA1054 num_solutions=1, value=10578.0, error='(TIME LIMIT) 9'
SA1056 num_solutions=1, value=11195.0, error='2'
SA1292 num_solutions=1, value=6348.0, error='(TIME LIMIT) 9'

   patient  solution_count  num_mutations_selected          status
0    SA604               0                       0
1    SA609              21                   37237  (TIME LIMIT) 9
2   OV2295               0                       0
3   DG1134               1                   11269               2
4   DG1197               0                       0
5    SA501              16                   15549  (TIME LIMIT) 9
6    SA530               1                    9408  (TIME LIMIT) 9
7   SA1182              37                    3446  (TIME LIMIT) 9
8   SA1184               1                    4067  (TIME LIMIT) 9
9   SA1142               0                       0
10  SA1162               1                   13132               2
11  SA1180               0                       0
12  SA1091               6                    5943  (TIME LIMIT) 9
13  SA1093               1                    9674  (TIME LIMIT) 9
14  SA1096              50                   13178               2
15  SA1035              50                   34379               2
16  SA1047               0                       0
17  SA1049               0                       0
18  SA1050              11                   16860  (TIME LIMIT) 9
19  SA1051               1                   25887  (TIME LIMIT) 9
20  SA1052               0                       0
21  SA1053              17                   18462               2
22   SA535               3                   18469               2
23   SA610               0                       0
24   SA605               0                       0
25  SA1181               0                       0
26  SA1135               0                       0
27   SA039               0                       0
28  SA906a               0                       0
29  SA906b              50                   22044               2
30  SA1054               1                   10578  (TIME LIMIT) 9
31  SA1055               0                       0
32  SA1056               1                   11195               2
33  SA1188               0                       0
34  SA1292               1                    6348  (TIME LIMIT) 9

In [10]:
df

,chr,start,ref,alt,cell_id,patient,endy,state,copy,state_AS_phased,...,alt_counts,sample_id,library_id,total_counts,isabl_patient_id,isabl_sample_id,isabl_aliquot_id,i.isabl_patient_id,i.isabl_sample_id,i.isabl_aliquot_id
0,1,2901334,A,T,SA604X6XB01972-A96177C-R55-C31,SA604,2901334,4,NaN,4|0,...,0,SA604X6XB01972,A96177C,1,NaN,NaN,NaN,NaN,NaN,NaN
1,1,4724917,C,G,SA604X6XB01972-A96177C-R55-C31,SA604,4724917,4,4.094850,4|0,...,0,SA604X6XB01972,A96177C,1,NaN,NaN,NaN,NaN,NaN,NaN
2,1,5404076,A,T,SA604X6XB01972-A96177C-R55-C31,SA604,5404076,4,4.663459,4|0,...,1,SA604X6XB01972,A96177C,1,NaN,NaN,NaN,NaN,NaN,NaN
3,1,6303195,T,G,SA604X6XB01972-A96177C-R55-C31,SA604,6303195,4,3.953550,4|0,...,2,SA604X6XB01972,A96177C,2,NaN,NaN,NaN,NaN,NaN,NaN
4,1,11585442,G,T,SA604X6XB01972-A96177C-R55-C31,SA604,11585442,4,3.979188,4|0,...,0,SA604X6XB01972,A96177C,2,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
31385546,6,54625196,T,C,AT135-A118389B-R65-C67,SA1292,54625196,2,1.651758,1|1,...,1,SA1292X20,A118389B,1,184-hTERT,SA1292X20,184-hTERT_SA1292X20_A118389B_L2,184-hTERT,SA1292X20,184-hTERT_SA1292X20_A118389B_L2
31385547,6,70850297,T,G,AT135-A118389B-R65-C67,SA1292,70850297,2,2.353611,1|1,...,1,SA1292X20,A118389B,1,184-hTERT,SA1292X20,184-hTERT_SA1292X20_A118389B_L2,184-hTERT,SA1292X20,184-hTERT_SA1292X20_A118389B_L2
31385548,8,92983198,G,T,AT135-A118389B-R65-C67,SA1292,92983198,1,1.406141,0|1,...,1,SA1292X20,A118389B,1,184-hTERT,SA1292X20,184-hTERT_SA1292X20_A118389B_L2,184-hTERT,SA1292X20,184-hTERT_SA1292X20_A118389B_L2
31385549,X,85749714,T,A,AT135-A118389B-R65-C67,SA1292,85749714,2,1.866568,1|1,...,1,SA1292X20,A118389B,1,184-hTERT,SA1292X20,184-hTERT_SA1292X20_A118389B_L2,184-hTERT,SA1292X20,184-hTERT_SA1292X20_A118389B_L2
31385550,X,90663519,C,A,AT135-A118389B-R65-C67,SA1292,90663519,2,1.305363,1|1,...,0,SA1292X20,A118389B,1,184-hTERT,SA1292X20,184-hTERT_SA1292X20_A118389B_L2,184-hTERT,SA1292X20,184-hTERT_SA1292X20_A118389B_L2

In [11]:
df['mutation'] = df['chr'].astype(str) + ":" + df["start"].astype(str) + ":" + df["ref"] + ":" + df["alt"]

In [12]:
mut_counts = (
    df.groupby('patient')['mutation']
      .nunique()
      .reset_index(name='unique_mutations')
)
mut_counts

   patient  unique_mutations
0   DG1134             15642
1   DG1197             14306
2   OV2295             24092
3    SA039              2478
4   SA1035             35318
5   SA1047              3414
6   SA1049             21095
7   SA1050             27266
8   SA1051             25887
9   SA1052             38881
10  SA1053             33852
11  SA1054             21538
12  SA1055             14815
13  SA1056             19170
14  SA1091              8928
15  SA1093             16051
16  SA1096             13899
17  SA1135               510
18  SA1142             57759
19  SA1162             28171
20  SA1180              6138
21  SA1181             10036
22  SA1182              3489
23  SA1184              5816
24  SA1188             16944
25  SA1292             13904
26   SA501             23098
27   SA530             17685
28   SA535             25218
29   SA604             25830
30   SA605              3473
31   SA609             44170
32   SA610              4110
33  SA906a             24138
34  SA906b             27774

In [13]:
cell_counts = (
    df.groupby('patient')['cell_id']
      .nunique()
      .reset_index(name='unique_cell_id')
)
cell_counts

   patient  unique_cell_id
0   DG1134             113
1   DG1197              77
2   OV2295            1084
3    SA039            1959
4   SA1035            2586
5   SA1047             347
6   SA1049            1283
7   SA1050             990
8   SA1051             892
9   SA1052             556
10  SA1053             825
11  SA1054             382
12  SA1055             391
13  SA1056             496
14  SA1091             506
15  SA1093             346
16  SA1096             802
17  SA1135             221
18  SA1142            2092
19  SA1162             254
20  SA1180             774
21  SA1181             296
22  SA1182             214
23  SA1184             621
24  SA1188            2003
25  SA1292             404
26   SA501            2473
27   SA530             324
28   SA535            1801
29   SA604            2139
30   SA605              65
31   SA609            5993
32   SA610             268
33  SA906a            3711
34  SA906b            5716

In [14]:
cn_counts = (
    df_cn_clones.groupby('patient')['clone_id']
      .nunique()
      .reset_index(name='unique_clone_id')
)
cn_counts

   patient  unique_clone_id
0   DG1134                7
1   DG1197                3
2   OV2295                8
3    SA039                8
4   SA1035               11
5   SA1047                2
6   SA1049                8
7   SA1050                8
8   SA1051                3
9   SA1052                8
10  SA1053                7
11  SA1054                5
12  SA1055               10
13  SA1056                2
14  SA1091                5
15  SA1093                4
16  SA1096                7
17  SA1135                3
18  SA1142                2
19  SA1162                8
20  SA1180               13
21  SA1181                6
22  SA1182                2
23  SA1184                8
24  SA1188               11
25  SA1292                4
26   SA501                7
27   SA530                3
28   SA535               17
29   SA604               14
30   SA605                2
31   SA609               16
32   SA610                2
33  SA906a               13
34  SA906b               10

In [24]:
patient_ids

[]

In [26]:
patient_ids_ = []
cn_clusters_taken = []
for patient_id in patient_ids:
    try:
        F_hi = pd.read_csv(f"../data/williams/scratch/{patient_id}/F_hi.csv")
        patient_ids_.append(patient_id)
        cn_clusters_taken.append(F_hi.shape[0])
    except Exception as e:
        print(e)

cn_clusters_taken = pd.DataFrame({
    'patient': patient_ids_,
    'cn_clusters_in_solution': cn_clusters_taken
})

cn_clusters_taken

[Errno 2] No such file or directory: '../data/williams/scratch/SA1135/F_hi.csv'

   patient  cn_clusters_in_solution
0    SA604                       14
1    SA609                       12
2   OV2295                        8
3   DG1134                        7
4   DG1197                        3
5    SA501                        7
6    SA530                        3
7   SA1182                        2
8   SA1184                        8
9   SA1142                        2
10  SA1162                        8
11  SA1180                       13
12  SA1091                        5
13  SA1093                        4
14  SA1096                        7
15  SA1035                       11
16  SA1047                        2
17  SA1049                        8
18  SA1050                        8
19  SA1051                        3
20  SA1052                        8
21  SA1053                        7
22   SA535                        6
23   SA610                        2
24   SA605                        2
25  SA1181                        6
26   SA039                        7
27  SA906a                       12
28  SA906b                       11
29  SA1054                        5
30  SA1055                        9
31  SA1056                        2
32  SA1188                       11
33  SA1292                        3

In [31]:
cancer_types = [
    ('SA039', 'Cell line WT'),
    ('SA906a', 'Cell line TP53-/- 95.22'),
    ('SA906b', 'Cell line TP53-/- 95.22'),
    ('SA1188', 'Cell line BRCA2+/- TP53-/- 116.66'),
    ('SA1056', 'Cell line BRCA2-/- TP53-/- 116.126'),
    ('SA1055', 'Cell line BRCA2-/- TP53-/- 112.109'),
    ('SA1054', 'Cell line BRCA1-/- TP53-/- 83.86'),
    ('SA1292', 'Cell line BRCA1+/- TP53-/- 116.66'),
    ('SA1091', 'HGSOC FBI'),
    ('SA1047', 'HGSOC TD'),
    ('SA1093', 'HGSOC TD'),
    ('SA1049', 'HGSOC FBI'),
    ('SA1096', 'HGSOC FBI'),
    ('SA1162', 'HGSOC FBI'),
    ('SA1050', 'HGSOC HRD-Dup'),
    ('SA1051', 'HGSOC HRD-Dup'),
    ('SA1052', 'HGSOC HRD-Dup'),
    ('SA1053', 'HGSOC HRD-Dup'),
    ('SA1180', 'HGSOC FBI'),
    ('SA1181', 'HGSOC HRD-Dup'),
    ('SA1182', 'HGSOC FBI'),
    ('SA1184', 'HGSOC HRD-Dup'),
    ('SA530', 'TNBC FBI'),
    ('SA604', 'TNBC FBI'),
    ('SA605', 'TNBC TD'),
    ('SA609', 'TNBC FBI'),
    ('SA610', 'TNBC FBI'),
    ('SA501', 'TNBC HRD-Dup'),
    ('SA535', 'TNBC HRD-Dup'),
]

columns = ['patient', 'cancer_type']

cacncer_type_df = pd.DataFrame(cancer_types, columns=columns)

cacncer_type_df

   patient                         cancer_type
0    SA039                        Cell line WT
1   SA906a             Cell line TP53-/- 95.22
2   SA906b             Cell line TP53-/- 95.22
3   SA1188   Cell line BRCA2+/- TP53-/- 116.66
4   SA1056  Cell line BRCA2-/- TP53-/- 116.126
5   SA1055  Cell line BRCA2-/- TP53-/- 112.109
6   SA1054    Cell line BRCA1-/- TP53-/- 83.86
7   SA1292   Cell line BRCA1+/- TP53-/- 116.66
8   SA1091                           HGSOC FBI
9   SA1047                            HGSOC TD
10  SA1093                            HGSOC TD
11  SA1049                           HGSOC FBI
12  SA1096                           HGSOC FBI
13  SA1162                           HGSOC FBI
14  SA1050                       HGSOC HRD-Dup
15  SA1051                       HGSOC HRD-Dup
16  SA1052                       HGSOC HRD-Dup
17  SA1053                       HGSOC HRD-Dup
18  SA1180                           HGSOC FBI
19  SA1181                       HGSOC HRD-Dup
20  SA1182                           HGSOC FBI
21  SA1184                       HGSOC HRD-Dup
22   SA530                            TNBC FBI
23   SA604                            TNBC FBI
24   SA605                             TNBC TD
25   SA609                            TNBC FBI
26   SA610                            TNBC FBI
27   SA501                        TNBC HRD-Dup
28   SA535                        TNBC HRD-Dup

In [34]:
mut_counts.rename(columns={'unique_mutations': 'num_mutations'}, inplace=True)
cell_counts.rename(columns={'unique_cell_id': 'num_cells'}, inplace=True)
cn_counts.rename(columns={'unique_clone_id': 'num_cn_cluster'}, inplace=True)


results_df = pd.merge(mut_counts, cell_counts, on='patient', how='left')
results_df = pd.merge(results_df, cacncer_type_df, on='patient', how='left')
results_df = pd.merge(results_df, cn_counts, on='patient', how='left')
results_df = pd.merge(results_df, cn_clusters_taken, on='patient', how='left')
results_df = pd.merge(results_df, solution_count_df, on='patient', how='left')

results_df["cancer_type"] = results_df["cancer_type"].fillna('-')
results_df["cn_clusters_in_solution"] = results_df["cn_clusters_in_solution"].fillna(0).astype(int)

results_df['pct_mutations_selected'] = results_df['num_mutations_selected'] / results_df['num_mutations'] * 100
results_df

,patient,num_mutations,num_cells,cancer_type,num_cn_cluster,cn_clusters_in_solution,solution_count,num_mutations_selected,status,pct_mutations_selected
0,DG1134,15642,113,-,7,7,4,11269,2,72.043217
1,DG1197,14306,77,-,3,3,1,9622,2,67.258493
2,OV2295,24092,1084,-,8,8,1,20338,2,84.418064
3,SA039,2478,1959,Cell line WT,8,7,29,1587,(TIME LIMIT) 9,64.043584
4,SA1035,35318,2586,-,11,11,50,30859,2,87.374710
5,SA1047,3414,347,HGSOC TD,2,2,22,3140,(TIME LIMIT) 9,91.974224
6,SA1049,21095,1283,HGSOC FBI,8,8,36,17664,(TIME LIMIT) 9,83.735482
7,SA1050,27266,990,HGSOC HRD-Dup,8,8,37,16860,(TIME LIMIT) 9,61.835253
8,SA1051,25887,892,HGSOC HRD-Dup,3,3,10,15495,(TIME LIMIT) 9,59.856299
9,SA1052,38881,556,HGSOC HRD-Dup,8,8,32,25115,(TIME LIMIT) 9,64.594532
10,SA1053,33852,825,HGSOC HRD-Dup,7,7,1,11656,2,34.432234
11,SA1054,21538,382,Cell line BRCA1-/- TP53-/- 83.86,5,5,1,10578,(TIME LIMIT) 9,49.113195
12,SA1055,14815,391,Cell line BRCA2-/- TP53-/- 112.109,10,9,8,6502,(TIME LIMIT) 9,43.887951
13,SA1056,19170,496,Cell line BRCA2-/- TP53-/- 116.126,2,2,2,11195,2,58.398539
14,SA1091,8928,506,HGSOC FBI,5,5,16,5943,(TIME LIMIT) 9,66.565860
15,SA1093,16051,346,HGSOC TD,4,4,25,9674,(TIME LIMIT) 9,60.270388
16,SA1096,13899,802,HGSOC FBI,7,7,5,12144,(TIME LIMIT) 9,87.373192
17,SA1135,510,221,-,3,0,0,0,,0.000000
18,SA1142,57759,2092,-,2,2,5,53504,(TIME LIMIT) 9,92.633183
19,SA1162,28171,254,HGSOC FBI,8,8,2,13132,2,46.615314
20,SA1180,6138,774,HGSOC FBI,13,13,6,3472,2,56.565657
21,SA1181,10036,296,HGSOC HRD-Dup,6,6,17,4507,(TIME LIMIT) 9,44.908330
22,SA1182,3489,214,HGSOC FBI,2,2,6,2350,(TIME LIMIT) 9,67.354543
23,SA1184,5816,621,HGSOC HRD-Dup,8,8,11,3269,(TIME LIMIT) 9,56.207015
24,SA1188,16944,2003,Cell line BRCA2+/- TP53-/- 116.66,11,11,50,9028,2,53.281398
25,SA1292,13904,404,Cell line BRCA1+/- TP53-/- 116.66,4,3,1,6348,(TIME LIMIT) 9,45.655926
26,SA501,23098,2473,TNBC HRD-Dup,7,7,27,13614,(TIME LIMIT) 9,58.940168
27,SA530,17685,324,TNBC FBI,3,3,6,9408,(TIME LIMIT) 9,53.197625
28,SA535,25218,1801,TNBC HRD-Dup,17,6,1,18136,2,71.916885
29,SA604,25830,2139,TNBC FBI,14,14,29,19516,(TIME LIMIT) 9,75.555556
30,SA605,3473,65,TNBC TD,2,2,1,2772,(TIME LIMIT) 9,79.815721
31,SA609,44170,5993,TNBC FBI,16,12,23,33184,(TIME LIMIT) 9,75.127915
32,SA610,4110,268,TNBC FBI,2,2,1,2919,(TIME LIMIT) 9,71.021898
33,SA906a,24138,3711,Cell line TP53-/- 95.22,13,12,1,13826,(TIME LIMIT) 9,57.278979
34,SA906b,27774,5716,Cell line TP53-/- 95.22,10,11,2,14900,2,53.647296

In [35]:
results_df.to_csv(f"{path}/results.csv")